<h5>Location</h5>
<div>{{ location_detail_data.location.name }}</div>

<h5>Attributes</h5>
TBD

<h5>Order Index</h5>
<div>{{ location_detail_data.location.order_id }}</div>

<div>
  <a href="{% url 'location_edit_location_edit' location_id=location_detail_data.location.id %}"
     id="hi-location-edit-link" class="btn btn-primary btn-control" role="button"
     data-async="true">
    EDIT LOCATION
  </a>
</div>

<div>
  <a href="{% url 'location_edit_location_view_edit' location_view_id=request.view_parameters.location_view_id %}"
     id="hi-location-view-edit-link" class="btn btn-info btn-control" role="button"
     data-async="true">
    EDIT VIEW
  </a>
</div>

