<h5>Location</h5>
<div>{{ location_detail_data.location.name }}</div>

<h5>Attributes</h5>
TBD

<h5>Order Index</h5>
<div>{{ location_detail_data.location.order_id }}</div>

<div>
  <a href="{% url 'location_edit_location_view_delete' location_view_id=request.view_parameters.location_view_id %}"
     id="hi-delete-location-view-link" class="btn btn-danger btn-control" role="button"
     data-async="true">
    DELETE THIS VIEW
  </a>
</div>


<div>
  <a href="{% url 'location_edit_location_delete' location_id=location_detail_data.location.id %}"
     id="hi-delete-location-link" class="btn btn-danger btn-control" role="button"
     data-async="true">
    DELETE LOCATION AND ALL VIEWS
  </a>
</div>

