{% load video_tags %}
{% load icons %}
<div>
  {% if show_video_inline %}
    {% sensor_response_video_stream sensor_response as video_stream %}
    {% if video_stream and video_stream.source_url %}
    <div class="mb-2">
      <img class="img-fluid" src="{{ video_stream.source_url }}" alt="{{ alarm.title }}">
    </div>
    {% endif %}
  {% endif %}
  <div>
    {% for label, value in sensor_response.detail_attrs.items %}
    <div class="row">
      <div class="col-3 text-right">{{ label }}</div>
      <div class="col-9">{{ value }}</div>
    </div>
    {% endfor %}
    {% if sensor_response.has_video_stream %}
    <div class="row mt-2">
      <div class="col-12">
        <small>
          <a href="{% url 'console_entity_video_sensor_history' entity_id=sensor_response.sensor.entity_state.entity.id sensor_id=sensor_response.sensor.id %}"
             data-async="true" class="text-muted">
            {% icon "video" size="sm" css_class="hi-icon-left" %}Browse Video Timeline
          </a>
        </small>
      </div>
    </div>
    {% endif %}
  </div>  
</div>
