{% load video_tags %}
<div>
  {% if show_video_inline %}
    {% sensor_response_video_stream sensor_response as video_url %}
    {% if video_url %}
    <div class="mb-2">
      <img class="img-fluid" src="{{ video_url }}" alt="{{ alarm.title }}">
    </div>
    {% endif %}
  {% endif %}
  <div>
    {% for label, value in sensor_response.detail_attrs.items %}
    <div class="row">
      <div class="col-3 text-right">{{ label }}</div>
      <div class="col-9-">{{ value }}</div>
    </div>
    {% endfor %}
  </div>  
</div>
