{% load humanize %}
{% load tz %}
{% timezone USER_TIMEZONE %}
<div class="hi-alert-banner-alert-list">
  {% for alert in alert_list %}
  <div class="hi-alert hi-alarm-level-{{ alert.alarm_level }} row">
    <div class="col-md-1 col-2">
      <a href="{% url 'alert_details' alert_id=alert.id %}"
	 class="btn btn-primary btn-sm" data-async="modal">DETAILS</a>
    </div>
    <div class="col-md-1 col-2">{{ alert.alarm_level.label }}</div>
    <div class="col-md-5 col-4">{{ alert.title }}</div>
    <div class="col-md-3 col-2">
      Since {{ alert.start_datetime|localtime|naturaltime }}
    </div>
    <div class="col-md-2 col-2 text-right">
      <form action="{% url 'alert_acknowledge' alert_id=alert.id %}" method="post"
	    data-async="true" class="d-inline">
	{% csrf_token %}
	<input type="submit" class="btn btn-secondary btn-sm" name="action" value="Dismiss">
      </form>
    </div>
  </div>
  {% empty %}
  <div class="alert alert-warning">No alerts.</div>
  {% endfor %}
</div>
{% endtimezone %}
