{% for hidden in entity_form.hidden_fields %}
{{ hidden }}
{% endfor %}

{% if entity_form.non_field_errors %}
<div class="non-field-errors">
  {% for err in entity_form.non_field_errors %}
  <p class="form-error text-danger">ERROR: {{ err }}</p>
  {% endfor %}
</div>
{% endif %}

<div>
  <div class="input-group mb-2 mr-sm-2">
    <div class="input-group-prepend">
      <div class="input-group-text">{{ entity_form.entity_type_str.label_tag }}</div>
    </div>
    {{ entity_form.entity_type_str }}
  </div>
  {{ entity_form.entity_type_str.errors }}
</div>
  
<div>
  {{ entity_form.name.label }}
  {{ entity_form.name }}
  {{ entity_form.name.errors }}
</div>

<div>
  {% include "attribute/panes/attribute_form.html" with attribute_formset=entity_attribute_formset %}
</div>

