{% for hidden in entity_form.hidden_fields %}
{{ hidden }}
{% endfor %}

{% if entity_form.non_field_errors %}
<div class="non-field-errors">
  {% for err in entity_form.non_field_errors %}
  <p class="form-error text-danger">ERROR: {{ err }}</p>
  {% endfor %}
</div>
{% endif %}

<div>
  <div class="input-group mb-2 mr-sm-2">
    <div class="input-group-prepend">
      <div class="input-group-text">{{ entity_form.entity_type.label_tag }}</div>
    </div>
    {{ entity_form.entity_type }}
  </div>
  {{ ollection_form.entity_type.errors }}
</div>
  
<div>
  {{ entity_form.name.label }}
  {{ entity_form.name }}
  {{ entity_form.name.errors }}
</div>

