{% for hidden in entity_form.hidden_fields %}
{{ hidden }}
{% endfor %}

{% if entity_form.non_field_errors %}
<div class="non-field-errors">
  {% for err in entity_form.non_field_errors %}
  <p class="form-error text-danger">ERROR: {{ err }}</p>
  {% endfor %}
</div>
{% endif %}

<div class="input-group mb-2 mr-sm-2 w-100">
  <div class="input-group-prepend">
    <label for="{{ entity_form.name.id_for_label }}"
	   class="input-group-text">{{ entity_form.name.label }}</label>
    {{ entity_form.name }}
    <small class="form-error text-danger">{{ entity_form.name.errors }}</small>
  </div>
</div>

<div class="hi-custom-select">
  <div class="input-group mb-2 mr-sm-2">
    <div class="input-group-prepend">
      <div class="input-group-text">{{ entity_form.entity_type_str.label }}</div>
    </div>
    {{ entity_form.entity_type_str }}
  </div>
  <small class="form-error text-danger">{{ entity_form.entity_type_str.errors }}</small>
</div>
