{% load units %}

{% with astronomical.moon_phase as moon_phase %}
<div class="d-flex justify-content-between">
  <div>
    Moonrise:
    {% if astronomical.moonrise %}
    {{ astronomical.moonrise.value }}
    {% else %}
    --
    {% endif %}
  </div>
  <div>
    Moonset:
    {% if astronomical.moonset %}
    {{ astronomical.moonset.value }}
    {% else %}
    --
    {% endif %}
  </div>
  <div>
    Moon:
    {% if astronomical.moon_illumnination %}
    {% if astronomical.moon_is_waxing.value %}Waxing{% else %}Waning{% endif %}
    {% else %}
    --
    {% endif %}
  </div>
</div>

<div class="d-flex justify-content-around">
  <div>
    Moon Illumination:
    {% if astronomical.moon_illumnination %}
    {{ astronomical.moon_illumnination.quantity|format_magnitude:1 }}
    <small>{{ astronomical.moon_illumnination.quantity|format_units }}</small>
    {% else %}
    --
    {% endif %}
  </div>
  <div>
    Moon Phase:
    {% if astronomical.moon_illumnination %}
    {{ moon_phase.label  }}
    {% else %}
    --
    {% endif %}
  </div>
</div>
{% endwith %}

<div class="table-responsive">
  <table class="table">
    <thead>
      <th>Twilight</th>
      <th>Civil</th>
      <th>Nautical</th>
      <th>Astronomical</th>
    </thead>
    <tbody>
      <tr>
	<td>Start</td>
	<td>{% if astronomical.civil_twilight_begin %}{{ astronomical.civil_twilight_begin.value }}{% else %}--{% endif %}</td>
	<td>{% if astronomical.nautical_twilight_begin %}{{ astronomical.nautical_twilight_begin.value }}{% else %}--{% endif %}</td>
	<td>{% if astronomical.astronomical_twilight_begin %}{{ astronomical.astronomical_twilight_begin.value }}{% else %}--{% endif %}</td>
      </tr>
      <tr>
	<td>End</td>
	<td>{% if astronomical.civil_twilight_end %}{{ astronomical.civil_twilight_end.value }}{% else %}--{% endif %}</td>
	<td>{% if astronomical.nautical_twilight_end %}{{ astronomical.nautical_twilight_end.value }}{% else %}--{% endif %}</td>
	<td>{% if astronomical.astronomical_twilight_end %}{{ astronomical.astronomical_twilight_end.value }}{% else %}--{% endif %}</td>
      </tr>
    </tbody>
  </table>
</div>
