{% load static %}
{% load units %}
{% load tz %}
{% timezone USER_TIMEZONE %}

{% if conditions.notable_phenomenon_data %}
{% for notable_phenomenon in conditions.notable_phenomenon_data.list_value %}
<div class="text-info my-1">
  {{ notable_phenomenon }}
</div>
{% endfor %}
{% endif %}

<div class="row">
  <div class="col-6" >
    <div class="h2">
      {% if conditions.temperature is not None %}
      {{ conditions.temperature.quantity|format_magnitude:1 }}
      <small>{{ conditions.temperature.quantity|format_units }}</small>
      {% else %}
      -- °
      {% endif %}
    </div>
  </div>
  <div class="col-6" >
    <div>
      Clouds:
      {% if conditions.cloud_cover %}
      {% with conditions.sky_condition as sky_condition %}
      <img height="32" src="{% static sky_condition.icon_filename %}"
           alt="{{ sky_condition.label }}" />

      {{ conditions.cloud_cover.quantity|format_magnitude:1 }}
      <small>{{ conditions.cloud_cover.quantity|format_units }}</small>
      {% endwith %}
      {% else %}
      -- %
      {% endif %}
    </div>
  </div>
</div>
<div>
  <div class="d-flex justify-content-left">
    <div>
      Min:
      {% if conditions.temperature_min_today is not None %}
      {{ conditions.temperature_min_today.quantity|format_magnitude:1 }}
      <small>{{ conditions.temperature_min_today.quantity|format_units }}</small>
      {% else %}
      -- °
      {% endif %}
    </div>
    <div class="pl-1">
      Max:
      {% if conditions.temperature_max_today is not None %}
      {{ conditions.temperature_max_today.quantity|format_magnitude:1 }}
      <small>{{ conditions.temperature_max_today.quantity|format_units }}</small>
      {% else %}
      -- °
      {% endif %}
    </div>
  </div>
  <div>
    Wind:
    {% if conditions.windspeed %}
    {{ conditions.windspeed.quantity|format_magnitude:1 }}
    <small>{{ conditions.windspeed.quantity|format_units }}</small>
    {% else %}
    -- 
    {% endif %}
    {% if conditions.wind_direction %}
    {{ conditions.wind_direction.quantity|format_compass }}
    {% endif %}
  </div>
  <div>
    Humidity:
    {% if conditions.relative_humidity %}
    {{ conditions.relative_humidity.quantity|format_magnitude:1 }}
    <small>{{ conditions.relative_humidity.quantity|format_units }}</small>
    {% else %}
    -- %
    {% endif %}
  </div>

</div>

<div class="text-muted">
  <small><em>{{ conditions.temperature.source_datetime |localtime }}, {{ conditions.temperature.source.abbreviation }} </em></small>
</div>
{% endtimezone%}
