{% load static %}
{% load units %}

<div>
  <div>
    {{ daily_forecast_data.interval_start.month }}/{{ daily_forecast_data.interval_start.day }}
  </div>
  <div>
    {% if daily_forecast_data.temperature_max %}
    {{ daily_forecast_data.temperature_max.quantity|format_magnitude:0 }}
    <small>{{ daily_forecast_data.temperature_max.quantity|format_units }}</small>
    {% else %}
    -- °
    {% endif %}    
    |
    {% if daily_forecast_data.temperature_min %}
    {{ daily_forecast_data.temperature_min.quantity|format_magnitude:0 }}
    <small>{{ daily_forecast_data.temperature_min.quantity|format_units }}</small>
    {% else %}
    -- °
    {% endif %}    
  </div>
  <div>
    <div>
      {% if daily_forecast_data.cloud_cover %}
      {% with daily_forecast_data.sky_condition as sky_condition %}
      <img height="32" src="{% static sky_condition.icon_filename %}"
	   alt="{{ sky_condition.label }}" />
      <div>
	{{ sky_condition.label }}
      </div>
      {% endwith %}
      {% else %}
      --
      {% endif %}
    </div>
  </div>
  <div>
    {% if daily_forecast_data.precipitation_amount %}
    {{ daily_forecast_data.precipitation_amount.quantity|format_magnitude:1 }}
    <small>{{ daily_forecast_data.precipitation_amount.quantity|format_units }}</small>
    {% else %}
    ---
    {% endif %}
  </div>
  <div>
    {% if daily_forecast_data.windspeed %}
    {{ daily_forecast_data.windspeed.quantity|format_magnitude:0 }}
    <small>{{ daily_forecast_data.windspeed.quantity|format_units }}</small>
    {% else %}
    -- 
    {% endif %}
    {% if daily_forecast_data.wind_direction %}
    {{ daily_forecast_data.wind_direction.quantity|format_compass }}
    {% endif %}
  </div>
</div>
