<div id="hi-collection-view-main" class="hi-collection-view">
  <h5><sub>COLLECTION:</sub> {{ collection_data.collection.name }}</h5>

  {% for entity in collection_data.entity_list %}
  <div class="">
    {% if request.is_editing %}
    <a href="{% url 'edit_details' html_id=entity.html_id %}"
       data-async="true">
      {{ entity.name }}
    </a>
    {% else %}
    {{ entity.name }}
    {% endif %}
  </div>
  {% empty %}
  <div><em>No entities in collection.</em></div>
  {% endfor %}
</div>
