<div id="hi-collection-view-main" class="hi-collection-view draggable-container"">
  <h5><sub>COLLECTION:</sub> {{ collection_data.collection.name }}</h5>

  {% for entity in collection_data.entity_list %}
  <div id="{{ entity.html_id }}" 
       class="{% if request.is_editing %}draggable{% endif %}"
       {% if request.is_editing %}draggable="true"{% endif %}
        >
    {% if request.is_editing %}
    <a href="{% url 'entity_details' entity_id=entity.id %}"
       data-async="true">
      {{ entity.name }}
    </a>
    {% else %}
    {{ entity.name }}
    {% endif %}
  </div>
  {% empty %}
  <div><em>No entities in collection.</em></div>
  {% endfor %}
</div>
