{% load common_template_helpers %}
<div id="hi-location-view-main" class="hi-location-view">
  <svg id="{{ location_view_data.location_view.html_id }}"
       xmlns="http://www.w3.org/2000/svg"
       viewBox="{{ location_view_data.location_view.svg_view_box }}"
       width="100%" height="100%" preserveAspectRatio="xMidYMid meet"
       transform="rotate({{ location_view_data.location_view.svg_rotate }} 0 0)">
    {% include_media_template location_view_data.location_view.location.svg_filename %}

    {% for entity_path in location_view_data.entity_paths %}
    {% include "location/svg_path_item.html" with svg_path_item=entity_path.svg_path_item %}
    {% endfor %}

    {% for entity_position in location_view_data.entity_positions %}
    {% include "location/svg_icon_item.html" with svg_icon_item=entity_position.svg_icon_item %}
    {% endfor %}
    
    {% for collection_position in location_view_data.collection_positions %}
    {% include "location/svg_icon_item.html" with svg_icon_item=collection_position.svg_icon_item %}
    {% endfor %}

  </svg>
</div>
