<div class="d-flex justify-content-start draggable-container">
  {% for location_view in location_view_list %}
  <div id="{{ location_view.html_id }}" 
       class="{% if request.is_editing %}draggable{% endif %}"
       {% if request.is_editing %}draggable="true"{% endif %}
       >
    <a href="{% url 'location_view' id=location_view.id %}"
       class="btn btn-primary btn-control"
       role="button"
       data-async="#{{ DIVID.MAIN }}" >
      {{ location_view.name }}
    </a>
  </div>
  {% endfor %}
  {% if request.is_editing %}
  <div class="">
    <a href="{% url 'location_edit_location_view_add' %}"
       class="btn btn-success btn-control" role="button"
       data-async="modal" >
      ADD
    </a>
  </div>
  {% endif %}
</div>
