<div>
  <div class="dropdown">
    <button class="btn btn-secondary btn-control dropdown-toggle" type="button"
	    id="hi-location-menu" data-toggle="dropdown">
      {{ current_location.name }}
      <span class="caret"></span>
    </button>
    <div class="dropdown-menu"
	 role="menu" aria-labelledby="hi-location-menu">
      {% for location in location_list %}
      {% if forloop.counter > 1 %}
      <div class="dropdown-divider"></div>
      {% endif %}
      <a role="menuitem" class="dropdown-item plain"
	 href="{% url 'location_switch' location_id=location.id %} ">
	{{ location.name }}
      </a>
      {% empty %}
      <div class="dropdown-item alert alert-secondary text-center">
	<em>No locations.</em>
      </div>
      {% endfor %}
      {% if request.is_editing %}
      <div class="dropdown-divider"></div>
      <a role="menuitem" class="dropdown-item plain"
	 href="{% url 'location_edit_location_add' %}"
	 data-async="modal">
	ADD NEW LOCATION
      </a>
      {% endif %}
    </div>
  </div>
</div>
