{% extends "modals/action_done.html" %}
{% load common_template_helpers %}

{% block title_text %}
{{ entity.name }}
{% endblock %}

{% block body %}

<ul>
  {% for sensor, sensor_response in latest_sensor_response_map.items %}
  <li>Sensor: {{ sensor.name }}
    {% include_with_fallback sensor_response.sensor.entity_state.entity_state_type.value_template_name "entity/panes/sensor_value_default.html" %}
  </li>
  {% empty %}
  <div><em>No sensors</em></div>
  {% endfor %}
</ul>

<div class="d-flex justify-content-between">
  <div>
    <a class="btn btn-info"
       href="{% url 'entity_edit' entity_id=entity.id %}"
       data-async="modal">
      Edit
    </a>
  </div>
  <div>
    <a class="btn btn-info"
       href="{% url 'entity_state_history' entity_id=entity.id %}"
       data-async="modal">
      History
    </a>
  </div>
</div>

{% endblock %}
