{% extends "modals/action_3.html" %}
{% load icons %}
{% load common_tags %}
{% load state_panel_tags %}

{% block modal_dialog_class %}hi-modal-dialog-600{% endblock %}

{% block title_text %}
Status
{% endblock %}

{% block body %}
{% render_entity_status_panel entity_status_data "modal" %}
{% endblock %}

{% block action_left %}
<a class="btn btn-primary"
   href="{% url 'entity_edit' entity_id=entity.id %}"
   data-async="modal">
  {% icon "edit" size="sm" css_class="hi-icon-left" %}EDIT
</a>
{% endblock %}

{% block action_center %}
<a class="btn btn-primary"
   href="{% url 'entity_history' entity_id=entity.id %}"
   data-async="modal">
  {% icon "history" size="sm" css_class="hi-icon-left" %}HISTORY
</a>
{% endblock %}

{% block action_right %}
<a id="hi-modal-done" role="button" {% if autofocus %}autofocus="autofocus"{% endif %}
   class="btn btn-primary" href="#" data-dismiss="modal">DONE</a>
{% endblock %}
