{% extends "modals/action_done.html" %}
{% load common_template_helpers %}

{% block title_text %}
{{ entity.name }}
{% endblock %}

{% block body %}

<h5>Latest Sensor Responses</h5>
<ul>
  {% for sensor, sensor_response in latest_sensor_response_map.items %}
  <li>Sensor: {{ sensor.name }}
    {% include_with_fallback sensor_response.sensor.entity_state.entity_state_type.value_template_name "entity/panes/sensor_value_default.html" %}
  </li>
  {% empty %}
  <div><em>No sensors</em></div>
  {% endfor %}
</ul>

<h5>Sensor History</h5>
<ul>
  {% for sensor, sensor_history_list in sensor_history_list_map.items %}
  <li>Sensor: {{ sensor.name }}
    {% include "sense/panes/sensor_history_list.html" with sensor_history_list=sensor_history_list show_all_link=True %}
  </li>
  {% empty %}
  <div><em>No sensors</em></div>
  {% endfor %}
</ul>

<h5>Principal Entities</h5>
<ul>
  {% for principal_entity in principal_entity_list %}
  <li>{{ principal_entity.name }}</li>
  {% empty %}
  <em>No principals</em>
  {% endfor %}
</ul>

<div>
  {% include "entity/edit/panes/entity_edit.html" %}
</div>

{% endblock %}
