{% extends "modals/action_3.html" %}
{% load common_tags %}

{% block title_text %}
{{ entity.name }}: History
{% endblock %}

{% block body %}

{% if sensor_history_list_map %}
<div>
  {% for sensor, sensor_history_list in sensor_history_list_map.items %}
  <div>
    <div class="h5">{{ sensor.name }} <small class="text-muted">[sensor]</small></div>
    {% include "sense/panes/sensor_history_list.html" with sensor_history_list=sensor_history_list show_all_link=True %}
  </div>
  {% endfor %}
</div>
{% endif %}

{% if controller_history_list_map %}
<div>
  {% for controller, controller_history_list in controller_history_list_map.items %}
  <div>
    <div class="h5">{{ controller.name }} <small class="text-muted">[controller]</small></div>
    {% include "control/panes/controller_history_list.html" with controller_history_list=controller_history_list show_all_link=True %}
  </div>
  {% endfor %}
</div>
{% endif %}

{% endblock %}

{% block action_left %}
<a class="btn btn-primary"
   href="{% url 'entity_edit' entity_id=entity.id %}"
   data-async="modal">
  EDIT
</a>
{% endblock %}

{% block action_center %}
<a class="btn btn-primary"
   href="{% url 'entity_status' entity_id=entity.id %}"
   data-async="modal">
  STATUS
</a>
{% endblock %}

{% block action_right %}
<a id="hi-modal-done" role="button" {% if autofocus %}autofocus="autofocus"{% endif %}
   class="btn btn-secondary" href="#" data-dismiss="modal">DONE</a>
{% endblock %}
