{% extends "modals/action_done.html" %}

{% block title_text %}
{{ entity.name }}
{% endblock %}

{% block body %}

<h5>Sensor Responses</h5>
<ul>
  {% for sensor, sensor_response_list in sensor_response_list_map.items %}
  <li>Sensor: {{ sensor.name }}
    <ul>
      {% for sensor_response in sensor_response_list %}
      <li>Response: {{ sensor_response.value }} [{{ sensor_response.timestamp }}]</li>
      {% endfor %}
    </ul>
  </li>
  {% empty %}
  <div><em>No sensors</em></div>
  {% endfor %}
</ul>

<h5>Principal Entities</h5>
<ul>
  {% for principal_entity in principal_entity_list %}
  <li>{{ principal_entity.name }}</li>
  {% empty %}
  <em>No principals</em>
  {% endfor %}
</ul>

{% include "entity/panes/entity_state_info_list.html" with entity_state_list=entity_state_list title='States'%}

{% include "entity/panes/entity_state_info_list.html" with entity_state_list=principal_state_list title='Principle States'%}

<div>
  {% include "entity/edit/panes/entity_edit.html" %}
</div>

{% endblock %}
