{% extends "edit/panes/sidebar_tabbed.html" %}
{% load icons %}

{% block view_tab_active %} active{% endblock %}

{% block tab_header %}
<div class="my-2 h5">
  <small>Editing:</small> <em>{{ collection.name }}</em>
</div>
{% endblock %}

{% block tab_content %}
<div id="{{ DIVID.COLLECTION_EDIT_PANE }}">
  {% include "collection/edit/panes/collection_properties_edit.html" %}
</div>

{% if collection_position_form %}
<div id="{{ DIVID.COLLECTION_POSITION_EDIT_PANE }}">
  {% include "collection/edit/panes/collection_position_edit.html" %}
</div>
{% endif %}

<div class="my-3">
  <a href="{% url 'collection_edit_collection_delete' collection_id=collection.id %}"
     class="btn btn-sm btn-danger btn-block btn-control" role="button" data-async="true">
    DELETE COLLECTION
  </a>
</div>
{% endblock %}
