{% for hidden in collection_form.hidden_fields %}
{{ hidden }}
{% endfor %}

{% if collection_form.non_field_errors %}
<div class="non-field-errors">
  {% for err in collection_form.non_field_errors %}
  <p class="form-error text-danger">ERROR: {{ err }}</p>
  {% endfor %}
</div>
{% endif %}

<div>
  <div class="input-group mb-2 mr-sm-2">
    <div class="input-group-prepend">
      <div class="input-group-text">{{ collection_form.collection_type_str.label_tag }}</div>
    </div>
    {{ collection_form.collection_type_str }}
  </div>
  {{ collection_form.collection_type_str.errors }}
</div>
  
<div>
  <div class="input-group mb-2 mr-sm-2">
    <div class="input-group-prepend">
      <div class="input-group-text">{{ collection_form.collection_view_type_str.label_tag }}</div>
    </div>
    {{ collection_form.collection_view_type_str }}
  </div>
  {{ collection_form.collection_view_type_str.errors }}
</div>

<div>
  {{ collection_form.name.label }}
  {{ collection_form.name }}
  {{ collection_form.name.errors }}
</div>

<div>
  {{ collection_form.order_id.label }}
  {{ collection_form.order_id }}
  {{ collection_form.order_id.errors }}
</div>

