<h4><small>Collection:</small> {{ collection.name }}</h4>

{% if location_item_position_form %}
<h5>Position</h5>
<div id="{{ location_item_position_form.content_html_id }}">
  {% include "location/edit/panes/location_item_position.html" %}
</div>
{% endif %}

<h5>View Type</h5>
<div>{{ collection.collection_type.label }}</div>

<h5>Order Index</h5>
<div>{{ collection.order_id }}</div>

<h5>Views</h5>
<div id="hi-edit-collection-views">
  {% include "collection/edit/panes/collection_views.html" %}
</div>

<div class="">
  <a href="{% url 'collection_edit_collection_delete' collection_id=collection.id %}"
     class="btn btn-danger btn-control" role="button" data-async="true">
    DELETE COLLECTION
  </a>
</div>
