<div id="hi-entity-toggle-collection-{{ entity.id }}"
     class="d-flex justify-content-start">
  <div  class="">
    <form method="POST" role="form"
	  action="{% url 'collection_edit_collection_entity_toggle' collection_id=collection.id entity_id=entity.id %}"
	  data-async="#hi-entity-toggle-collection-{{ entity.id }}" data-mode="replace" >
      {% csrf_token %}
      <input type="checkbox" id="entity-toggle-collection-checkbox-{{ entity.id }}" name="checkbox_state" 
             {% if exists_in_collection %}checked{% endif %} 
	     onchange-async="true" >
       <label for="entity-toggle-collection-checkbox-{{ entity.id }}">{{ entity.name }}</label>
    </form>
  </div>
</div>
