{% for hidden in collection_form.hidden_fields %}
{{ hidden }}
{% endfor %}

{% if collection_form.non_field_errors %}
<div class="non-field-errors">
  {% for err in collection_form.non_field_errors %}
  <p class="form-error text-danger">ERROR: {{ err }}</p>
  {% endfor %}
</div>
{% endif %}

<div>
  {{ collection_form.name.label }}
  {{ collection_form.name }}
  {{ collection_form.name.errors }}
</div>
<div>
  {{ collection_form.collection_type_str.label }}
  {{ collection_form.collection_type_str }}
  {{ collection_form.collection_type_str.errors }}
</div>
