{% extends "modals/action_with_cancel.html" %}

{% block title_text %}
Delete Item?
{% endblock %}

{% block body %}

<p>
  Please confirm that you want to delete this item:
  <ul>
    <span class="h4 text-primary">{{ entity.name }}</span>
  </ul>
</p>
<p>
  This action cannot be undone.
</p>
{% endblock %}

{% block action_right %}
<form action="{% url 'entity_edit_entity_delete' entity_id=entity.id %}"
      method="post" class="form"
      data-async="true" >
  {% csrf_token %}
  <button id="hi-delete-entity-button" type="submit" class="btn btn-lg btn-danger"
	  name="action" value="confirm">
    DELETE
  </button>
</form>
{% endblock %}
