{% extends "modals/action_with_cancel.html" %}

{% block preamble %}
<form action="{% url 'entity_edit_principal_manage' entity_id=entity.id %}" method="post"
      class="form" data-async="true">
  {% csrf_token %}
{% endblock %}

{% block title_text %}
Principal Add
{% endblock %}

{% block body %}
<div>
  Select entities to add as principals.
</div>

{% for entity_view_group in entity_view_group_list %}
<div class="">
  <div class="h5">{{ entity_view_group.entity_group_type.label }}</div>
  {% for entity_view_item in entity_view_group.item_list %}
  <div>
    <input type="checkbox"
	   id="principal-entity-checkbox-{{ entity_view_item.entity.id }}"
	   name="{{ principal_entity_id_name_prefix }}{{ entity_view_item.entity.id }}" 
           {% if entity_view_item.exists_in_view %}checked{% endif %} >
    <label for="principal-entity-checkbox-{{ entity_view_item.entity.id }}">{{ entity_view_item.entity.name }}</label>
  </div>
  {% endfor %}
</div>
{% empty %}
<div><em>No entities defined.</em></div>
{% endfor %}

{% endblock %}

{% block action_right %}
<button id="hi-principal-manage-button" type="submit" class="btn btn-lg btn-success"
	name="action" value="submit">
  SUBMIT
</button>
{% endblock %}

{% block postamble %}
</form>
{% endblock %}
