{% extends "modals/action_with_cancel.html" %}

{% block preamble %}
<form action="{% url 'simulator_add_entity' simulator_id=simulator.id %}" method="post"
      class="form" data-async="modal">
  {% csrf_token %}
{% endblock %}

{% block title_text %}
Add {{ simulator.label }} Entity
{% endblock %}

{% block body %}
<div>
  {% for entity_fields in entity_fields_list %}
  <div>
    {{ sim_entity_class }}
  </div>





    {% for field in entity_fields %}
        <label for="{{ field.name }}">{{ field.name }}</label>
        <input
            type="text"
            name="{{ field.name }}"
            value="{{ field.default|default:'' }}"
        >
    {% endfor %}












  
  {% endfor %}
</div>
{% endblock %}

{% block action_right %}
<button id="hi-simulator-add-entity-submit" type="submit" class="btn btn-lg btn-success"
	name="action" value="add">
  ADD
</button>
{% endblock %}

{% block postamble %}
</form>
{% endblock %}
