{% extends "modals/action_with_cancel.html" %}
{% load icons %}

{% block preamble %}
<form action="{% url 'simulator_entity_edit' sim_entity_id=db_sim_entity.id %}" method="post"
      class="form" data-async="modal">
  {% csrf_token %}
{% endblock %}

{% block title_text %}
Edit Entity
{% endblock %}

{% block body %}
<div>
  {% include "simulator/panes/sim_entity_fields_form.html" with sim_entity_fields_form=sim_entity_fields_form %}
</div>
{% endblock %}

{% block action_right %}
<button id="hi-simulator-entity-edit-submit" type="submit" class="btn btn-lg btn-success"
	name="action" value="edit">
  {% icon "save" size="sm" css_class="hi-icon-left" %}UPDATE
</button>
{% endblock %}

{% block postamble %}
</form>
{% endblock %}
