{% extends "modals/action_with_cancel.html" %}
{% load icons %}

{% block preamble %}
<form action="{% url 'simulator_profile_edit' profile_id=sim_profile_form.instance.id %}" method="post"
      class="form" data-async="modal">
  {% csrf_token %}
{% endblock %}

{% block title_text %}
Edit Simulator Profile
{% endblock %}

{% block body %}
{% include "simulator/panes/sim_profile_form.html" %}
{% endblock %}

{% block action_right %}
<button id="hi-simulator-profile-edit-submit" type="submit" class="btn btn-lg btn-primary"
        name="action" value="edit">
  {% icon "save" size="sm" css_class="hi-icon-left" %}UPDATE
</button>
{% endblock %}

{% block postamble %}
</form>
{% endblock %}

