{% load static %}
{% load icons %}

<div class="d-flex justify-content-between">
  <div class="h3 integration-title">
    <img class="img-fluid"
         src="{% static 'img/integrations/zoneminder.png' %}"
         alt="ZoneMinder Logo" \>
    ZoneMinder
  </div>
  <div class="">
    <form action="{% url 'zm_sync' %}"
        method="POST" role="form" data-async="">
      {% csrf_token %}
      <button type="submit" class="btn btn btn-outline-secondary" role="button"
              name="action" value="sync" >
        {% if has_entities %}
        {% icon "sync" size="sm" css_class="hi-icon-left" %}RE-SYNC
        {% else %}
        {% icon "upload" size="sm" css_class="hi-icon-left" %}IMPORT
        {% endif %}
      </button>
    </form>
  </div>
</div>
{% if not has_entities %}
<div class="alert alert-warning text-center">
  Use the "IMPORT" button to add items from ZoneMinder.
</div>
{% endif %}
