{% load static %}
<div class="d-flex justify-content-between">
  <div class="h3 integration-title">
    <img class="img-fluid"
         src="{% static 'img/integrations/zoneminder.png' %}"
         alt="ZoneMinder Logo" \>
    ZoneMinder
  </div>
  <div class="">
    <form action="{% url 'zm_sync' %}"
        method="POST" role="form" data-async="">
      {% csrf_token %}
      <button type="submit" class="btn btn btn-secondary" role="button"
              name="action" value="sync" >SYNC ITEMS</button>
    </form>
  </div>
</div>
