{% load icons %}
<div id="hi-zm-settings">
  <form action="{% url 'zm_settings' %}" method="post"
	class="form" data-async="#hi-zm-settings" data-mode="replace">
    {% csrf_token %}

    <div class="h4">Settings</div>

    <div>
      {% include "attribute/panes/attribute_form.html" with attribute_formset=integration_attribute_formset %}
    </div>

    <button id="hi-zm-setting-button" type="submit" class="btn btn-primary"
	    name="action" value="update">
      {% icon "save" size="sm" css_class="hi-icon-left" %}UPDATE SETTINGS
    </button>
  </form>
</div>
