{% extends "modals/action_done.html" %}
{% load icons %}

{% block modal_dialog_class %}hi-modal-dialog-600{% endblock %}

{% block title_text %}
Select Integrations
{% endblock %}

{% block body %}

{% for integration_data in integration_data_list %}
<div class="d-flex justify-content-between {% if not forloop.first %}border-top{% endif %} py-2 my-1">
  <div class="col-6">
    {{ integration_data.integration_metadata.label }}
  </div>
  <div class="col-3">
    {% if integration_data.integration.is_enabled %}
    <span class="text-weight-bold text-primary">
      {% icon "save" size="sm" css_class="hi-icon-left" %}ENABLED
    </span>
    {% else %}
    <span class="text-secondary">
      {% icon "eye-off" size="sm" css_class="hi-icon-left" %}DISABLED
    </span>
    {% endif %}
  </div>

  <div class="col-3">
    {% if integration_data.integration.is_enabled %}
    <a href="{% url 'integrations_disable' integration_id=integration_data.integration.integration_id %}"
       role="button" class="btn btn-secondary btn-control" data-async="modal">
      {% icon "eye-off" size="sm" css_class="hi-icon-left" %}DISABLE
    </a>
    
    {% else %}
    <a href="{% url 'integrations_enable' integration_id=integration_data.integration.integration_id %}"
       class="btn btn-primary btn-control" role="button" data-async="modal">
      {% icon "eye" size="sm" css_class="hi-icon-left" %}ENABLE
    </a>
    {% endif %}
  </div>
</div>
{% empty %}
<div class="alert alert-warning"> No integrations found.</div>
{% endfor %}
{% endblock %}
