{% extends "modals/action_with_cancel.html" %}

{% block preamble %}
<form action="{% url 'location_edit_location_add' %}" method="post" enctype="multipart/form-data"
      class="form" data-async="modal">
  {% csrf_token %}
{% endblock %}

{% block title_text %}
New Location
{% endblock %}

{% block body %}
<div>
{% include "location/edit/panes/location_form.html" %}
</div>

<div>
  <a href="{% url 'location_edit_location_delete' location_id=location_detail_data.location.id %}"
     id="hi-delete-location-link" class="btn btn-danger btn-control" role="button"
     data-async="true">
    DELETE LOCATION AND ALL VIEWS
  </a>
</div>


{% endblock %}

{% block action_right %}
<button id="hi-add-location-button" type="submit" class="btn btn-lg btn-success"
	name="action" value="add">
  ADD
</button>
{% endblock %}

{% block postamble %}
</form>
{% endblock %}
