{% extends "modals/action_with_cancel.html" %}

{% block title_text %}
Delete Collection?
{% endblock %}

{% block body %}

<div>
  Please confirm that you want to delete the location view:
  <ul>
    {{ collection.name }}
  </ul>
</div>
<div>
  This action cannot be undone.
</div>
{% endblock %}

{% block action_right %}
<form action="{% url 'collection_edit_collection_delete' collection_id=collection.id %}"
      method="post" class="form"
      data-async="true" >
  {% csrf_token %}
  <button id="hi-delete-collection-button" type="submit" class="btn btn-lg btn-danger"
	  name="action" value="confirm">
    DELETE
  </button>
</form>
{% endblock %}
