{% extends "modals/action_with_cancel.html" %}
{% load icons %}

{% block preamble %}
<form action="{% url 'collection_add' %}" method="post"
      class="form" data-async="modal">
  {% csrf_token %}
{% endblock %}

{% block title_text %}
New Collection
{% endblock %}

{% block body %}
<div>
{% include "collection/edit/panes/collection_form.html" with collection_form=collection_add_form %}
<p>
  <div class="form-check">
    {{ collection_add_form.include_in_location_view }}
    {{ collection_add_form.include_in_location_view.label }}
  </div>
</p>

</div>
{% endblock %}

{% block action_right %}
<button id="hi-add-collection-button" type="submit" class="btn btn-lg btn-primary"
        name="action" value="add">
  {% icon "plus" size="sm" css_class="hi-icon-left" %}ADD
</button>
{% endblock %}

{% block postamble %}
</form>
{% endblock %}
