{% load icons %}
{% load tz %}

{% timezone USER_TIMEZONE %}
<a href="{% url 'system_api_health_status' provider_id=api_health_status.provider_id %}"
   class="clickable-card"
   data-async="modal">
  <div>
    <strong>{{ api_health_status.provider_name }}</strong>
    {% if api_health_status.last_success %}
    <small class="text-muted d-block">Last success: {{ api_health_status.last_success|localtime|date:"H:i:s" }}</small>
    {% else %}
    <small class="text-muted d-block">No recent success</small>
    {% endif %}
  </div>
  <div>
    <span class="heartbeat-indicator {{ api_health_status.heartbeat_css_class }}"></span>
    <span class="{{ api_health_status.status_text_class }} small">{{ api_health_status.status_display }}</span>
  </div>
</a>
{% endtimezone %}
