{% extends "modals/action_with_cancel.html" %}

{% block preamble %}
<form action="{% url 'simulator_profile_delete' profile_id=sim_profile.id %}" method="post"
      class="form" data-async="modal">
  {% csrf_token %}
{% endblock %}

{% block title_text %}
Delete Simulation Profile?
{% endblock %}

{% block body %}
  <p>
    Deleting the simulation profile "{{ sim_profile.name }}" will remove all {{ sim_entity_count }} the defined simulator entities.
  </p>
  <p class="text-danger">
    This action cannot be undone. Are you sure you want to delete the "{{ sim_profile.name }}" simulation profile?
  </p>
{% endblock %}

{% block action_right %}
<button id="hi-simulator-profile-delete-submit" type="submit" class="btn btn-danger"
        name="action" value="delete">
  DELETE
</button>
{% endblock %}

{% block postamble %}
</form>
{% endblock %}

