<div id="hi-edit-view-collection-toggle-{{ collection.id }}"
     class="d-flex justify-content-start">
  <div  class="">
    <form method="POST" role="form"
	  action="{% url 'edit_view_collection_toggle' location_view_id=location_view.id collection_id=collection.id %}"
	  data-async="#hi-edit-view-collection-toggle-{{ collection.id }}" data-mode="replace" >
      {% csrf_token %}
      <input type="checkbox" id="edit-view-collection-checkbox-{{ collection.id }}" name="checkbox_state" 
             {% if exists_in_view %}checked{% endif %} 
	     onchange-async="true" >
      <label for="edit-view-collection-checkbox-{{ collection.id }}">{{ collection.name }}</label>
    </form>
  </div>
</div>
