<div id="hi-edit-side-content" class="">
  {% if request.view_parameters.view_type.is_location_view %}
  {% include "location/edit/panes/side_header.html" %}
  {% elif request.view_parameters.view_type.is_collection %}
  {% include "collection/edit/panes/side_header.html" %}
  {% endif %}

  <div id="hi-edit-item">
    {% if entity_detail_data %}
    {% include "entity/panes/entity_details.html" %}
    {% elif collection_detail_data %}
    {% include "collection/panes/collection_details.html" %}
    {% elif location_detail_data %}
    {% include "location/panes/location_details.html" %}
    {% endif %}
  </div>
  
</div>
