<div id="hi-edit-side-content" class="">
  <div class="">EDIT PANEL</div>

  <div class="">
    <a href="{% url 'edit_end' %}"
       class="btn btn-tertiary btn-control" role="button" >
      EXIT
    </a>
  </div>

  <div class="">
    <a href="{% url 'edit_add_remove' %}"
       class="btn btn-tertiary btn-control" role="button" data-async="true">
      ADD/REMOVE
    </a>
  </div>

  <div id="hi-edit-item">
    {% if entity %}
    {% include "edit/panes/details_entity.html" %}
    {% elif collection %}
    {% include "edit/panes/details_collection.html" %}
    {% else %}
    {% include "edit/panes/default.html" %}
    {% endif %}
  </div>
  
</div>
