{% extends "attribute/modals/attribute_edit_v2_base.html" %}
{% load icons %}

{% block modal_title %}{{ location.name }}: Edit{% endblock %}

{% block form_action %}{% url 'location_edit_v2' location_id=location.id %}{% endblock %}
{% block file_upload_url %}{% url 'location_attribute_upload' location_id=location.id %}{% endblock %}
{% block file_delete_url %}#{% endblock %}

{% block basic_info %}
<div class="attr-v2-basic-info">
  <div class="row">
    <div class="col-md-8">
      <div class="form-group">
        {{ location_form.name.label_tag }}
        {{ location_form.name }}
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        {{ location_form.location_type.label_tag }}
        {{ location_form.location_type }}
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block additional_actions %}
<a href="{% url 'location_view' location_id=location.id %}" 
   class="btn btn-sm btn-outline-secondary"
   data-async="true">
  View
</a>
{% endblock %}