{% load common_tags %}
{% load control_tags %}
{% generate_uuid as unique_id %}
<div id="hi-controller-{{ controller_data.controller.id }}-{{ unique_id }}">
  <form action="{% url 'control_controller' controller_id=controller_data.controller.id %}"
        method="post"
        class="form" data-async="#hi-controller-{{ controller_data.controller.id }}-{{ unique_id }}" data-mode="replace" data-stay-in-modal="true">
    {% csrf_token %}
    {% include_controller_widget controller_data.controller %}
    {% if controller_data.error_list %}
    <div class="text-danger">
      <ul>
        {% for msg in controller_data.error_list %}
        <li>{{ msg }}</li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}
  </form>
</div>
