{% with on_text="On" off_text="Off" %}
<div class="on-off-control">
  <label class="switch-modern">
    <input type="checkbox"
           name="value"
           class="{{ controller_data.css_class }} switch-input"
           {% if controller_data.latest_sensor_response.is_on %}checked="true"{% endif %}
           status="{{ controller_data.latest_sensor_response.value }}"
           data-on-text="{{ on_text }}"
           data-off-text="{{ off_text }}"
           onchange-async="true"
           data-controller-id="{{ controller_data.controller.id }}">
    <span class="switch-slider"></span>
  </label>
  <div class="switch-status">
    <span class="status-text">
      {% if controller_data.latest_sensor_response.is_on %}{{ on_text }}{% else %}{{ off_text }}{% endif %}
    </span>
  </div>
</div>
{% endwith %}
