/*  Home Information
    Copyright 2024 by POMDP, Inc.
    All Rights Reserved.  
*/
:root {
  --white: #fdfdfd;
  --black: #020204;
  --primary-color: #177072;
  --on-primary-color: #ffffff;
  --primary-highlight-color: #115354;
  --secondary-color: #F45F36;
  --on-secondary-color: #ffffff;
  --secondary-highlight-color: #F8AD98;
  --tertiary-color: #020204;
  --on-tertiary-color: #ffffff;
  --secondary-highlight-color: #7e7e81;
  --success-color: #177219;
  --on-success-color: #ffffff;
  --warning-color: #ECA500;
  --on-warning-color: #ffffff;
  --error-color: #721817;
  --on-error-color: #ffffff;
  --muted-color: #7e7e81;
  --on-muted-color: #ffffff;
  --line-color: #cccccc;
  --edit-primary-bg-color: #dffeff;
  --edit-secondary-bg-color: #ffd0c3;
  --edit-tertiary-bg-color: #f0f0f0;
  --edit-hr-color: #a0a0a0;
  
  --top-buttons-height: 2.5rem;
  --bottom-buttons-height: 2.5rem;

  --status-highlighted-color: red;
  --status-hover-color: blue;

  --status-off-color: #aaaaaa;
  --status-on-color: yellow;
  --on-status-off-color: black;
  --on-status-on-color: black;
  
  /* These should match those in hi.apps.monitor.StatusStyle */
  --status-active-color: red;
  --status-recent-color: orange;
  --status-past-color: yellow;
  --status-ok-color: green;
  --status-bad-color: red;
  --status-idle-color: #aaaaaa;

  --on-status-active-color: white;
  --on-status-recent-color: black;
  --on-status-past-color: black;
  --on-status-ok-color: white;
  --on-status-bad-color: white;
  --on-status-idle-color: black;
  
}

html, body {
    font-size: 1rem;
    margin: 0;
    padding: 0;
    height: 100%;
    color: #222233;
    background-color: var(--white);
}

a { color: var(--primary-color); }
a:hover,
a:focus,
a:active {
    opacity: 0.65;
    color: var(--primary-color);
}
a.plain {
    text-decoration: none;
    cursor: pointer;
    border-bottom: 0;
}
a.underline,
a.underline:visited {
    text-decoration: none;
    padding-bottom: 0.075rem;
    border-bottom: 2px solid var(--primary-color);
}

a.clickable-card {
    display: block;
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}
a.clickable-card:hover,
a.clickable-card:focus,
a.clickable-card:active {
    text-decoration: none;
    opacity: 0.75;
}

.text-primary {
    color: var(--primary-color) !important;
}
.text-on-primary {
    color: var(--on-primary-color) !important;
}
.text-white {
    color: var(--white) !important;
}
.text-black {
    color: var(--black);
}

.bg-primary, .bg-info, .btn-primary, .btn-info {
    color: var(--on-primary-color) !important;
    background-color: var(--primary-color) !important;
    border-color: var(--primary-highlight-color) !important;
}
.bg-primary a, .bg-info a, .btn-primary a, .btn-info a {
    color: color: var(--on-primary-color);
}
.bg-primary a:hover,
.bg-primary a:focus,
.bg-primary a:active,
.bg-info a:hover,
.bg-info a:focus,
.bg-info a:active {
    opacity: 0.65;
    color: color: var(--on-primary-color);
}

.bg-secondary, .btn-secondary {
    color: var(--on-secondary-color) !important;
    background-color: var(--secondary-color) !important;
    border-color: var(--secondary-highlight-color) !important;
}
.bg-secondary a {
    color: color: var(--on-secondary-color);
}
.bg-secondary a:hover,
.bg-secondary a:focus,
.bg-secondary a:active {
    opacity: 0.65;
    color: color: var(--on-secondary-color);
}

.bg-tertiary, .btn-tertiary {
    color: var(--on-tertiary-color) !important;
    background-color: var(--tertiary-color) !important;
    border-color: var(--tertiary-highlight-color) !important;
}
.bg-tertiary a {
    color: color: var(--on-tertiary-color);
}
.bg-tertiary a:hover,
.bg-tertiary a:focus,
.bg-tertiary a:active {
    opacity: 0.65;
    color: color: var(--on-tertiary-color);
}

.bg-danger, .btn-error, .btn-danger {
    color: var(--on-error-color) !important;
    background-color: var(--error-color) !important;
    border-color: var(--error-highlight-color) !important;
}
.bg-danger a, .btn-error a, .btn-danger a {
    color: color: var(--on-error-color);
}
.bg-error a:hover,
.bg-error a:focus,
.bg-error a:active,
.bg-danger a:hover,
.bg-danger a:focus,
.bg-danger a:active {
    opacity: 0.65;
    color: color: var(--on-error-color);
}

.bg-muted, .btn-muted {
    color: var(--on-muted-color) !important;
    background-color: var(--muted-color) !important;
}

.interstitial-page {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    max-width: 1200px;
    margin: auto;
}

.interstitial-header {
    padding: 2rem;
    text-align: center;
}
.interstitial-body {
    padding: 1rem;
    text-align: center;
    border: 1px solid #ccc;
    background-color: #f4f4f4;
}


/* Phone Portrait */
@media (max-width: 600px) {
    .interstitial-page {
        flex-direction: column;
    }
    .interstitial-header {
        width: 75%;
    }
    .interstitial-body {
        width: 100%;
    }
}

/* Phone Landscape (Side-by-Side) */
@media (min-aspect-ratio: 16/9) {
    .interstitial-page {
        flex-direction: row;
        margin-top: 1rem;
    }
    .interstitial-header {
        width: 30%;
    }
    .interstitial-body {
        width: 60%;
    }
}

/* Desktop */
@media (min-width: 901px) and (max-aspect-ratio: 16/9) {
    .interstitial-page {
        flex-direction: column;
    }
    .interstitial-header {
        width: 40%;
    }
    .interstitial-body {
        width: 60%;
    }
}

#hi-top-content {
    height: calc( var(--top-buttons-height) - 1 );
    border-bottom: 1px solid var(--line-color);
}
#hi-bottom-content {
    height: var(--bottom-buttons-height);
    border-top: 1px solid var(--line-color);
}
#hi-top-content img,
#hi-bottom-content img {
    max-height: 2rem;
    width: auto;
}
#hi-side-content {
    height: calc(100vh - var(--top-buttons-height) - var(--bottom-buttons-height));
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}
#hi-side-content hr {
    flex: 0 0 auto; /* Prevent shrinking or growing */
    width: 100%;
}
#hi-top-content,
#hi-bottom-content,
.hi-screen {
    background: var(--white);
}

#hi-top-content[hi-edit="True"] {
    background: var(--edit-tertiary-bg-color);
}
#hi-bottom-content[hi-edit="True"] {
    background: var(--edit-tertiary-bg-color);
}
.hi-screen[hi-edit="True"] {
    background: var(--edit-secondary-bg-color);
}
.hi-screen[hi-edit="True"] .hi-side {
    background: var(--edit-primary-bg-color);
}

.hi-screen {
    max-height: 100vh;
}
.scrollable-column {
    overflow-y: auto;
    max-height: 100vh;
    padding-top: var(--top-buttons-height);
    padding-bottom: var(--bottom-buttons-height);
}
.fixed-column {
    overflow-y: auto;
    flex-shrink: 0;
    height: 100vh;
    max-height: 100vh;
    padding-top: var(--top-buttons-height);
    padding-bottom: var(--bottom-buttons-height);
    border-left: 1px solid var(--line-color);
}

.hi-modal-dialog-600 {
    max-width: 600px;
}
.hi-modal-dialog-800 {
    max-width: 800px;
}

.btn-control {
    width: 100%;
    white-space: nowrap;
    font-size: 0.75rem;
    font-weight: bold;
}

input[type="number"] {
    max-width: 8rem;
}
.hi-location-view {
    justify-content: center;
    align-items: center;
    height: calc(100vh - var(--top-buttons-height) - var(--bottom-buttons-height) );
    touch-action: none;

}
.hi-location-view-svg {
    max-height: calc(100vh - var(--top-buttons-height) - var(--bottom-buttons-height) ); 
    width: auto;
    height: auto;
    display: block;
    cursor: pointer;
}    

#hi-integration-settings nav {
    border-right: 1px solid #888888;
    height: calc( 100vh - var(--top-buttons-height) - var(--bottom-buttons-height) - 6rem);
    overflow-y: auto;
}
#hi-integration-settings nav hr {
    flex: 0 0 auto; /* Prevent shrinking or growing */
    width: 100%;
    border-top: 1px solid #202020;
}
.drag-over {
  border: 2px dashed #888888;
}

.form-group label {
    color: #060606 !important;
}
.input-group-text {
    color: var(--black);
    background-color: #f0f0f0;
}
select,
textarea,
input[type="text"],
input[type="password"],
.dropdown-menu {
    color: var(--black) !important;
    background-color: #f8f8f8 !important;
}
.hi-custom-select .input-group-text {
    height: calc(1.5em + 0.75rem + 2px);
    line-height: 1.5;
}
.plus-icon {
    font-size: 1.5rem;
    color: var(--on-primary-color);
    background-color: var(--primary-color);
    padding: 0 0.25rem 0 0.25rem;
}
#hi-server-error-msg {
    position: fixed;
    display: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1rem;
    z-index: 1060;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    color: var(--warning-color);
    background-color: #282425;
    border-radius: 0.8rem;
    border: 0.1rem solid #282425;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
}

#hi-server-error-msg > div {
    margin-top: 1rem;
    padding: 3rem;
    width: 36rem;
    height: 14rem;
    color: #282425;
    font-size: 4rem;
    background-color: var(--warning-color);
    border-bottom-left-radius: 0.8rem;
    border-bottom-right-radius: 0.8rem;
    text-align: center;
}

svg[action-state="move"] {
    cursor: move;
}
svg[action-state="rotate"] {
    cursor: url('/static/css/cursor-rotate.png') 16 16, auto;
}
svg[action-state="scale"] {
    cursor: url('/static/css/cursor-scale.png') 16 16, auto;
}

svg .highlighted {
    filter: drop-shadow(0 0 10px var(--status-highlighted-color));
}

g.hi-icon {
    pointer-events: all;
}
path.hi-path-closed[hover] {
}
path.hover-target {
    stroke: none;
    stroke-width: 10;
    fill: none;
    pointer-events: all;
}
path.hi-path-closed[hover] {
    stroke: var(--status-hover-color);
    stroke-width: 4;
}
path.hover-target[hover] + path.hi-path-open {
    stroke: var(--status-hover-color);
    stroke-width: 5;
    filter: drop-shadow(0 0 5px var(--status-hover-color));
}

g[status="active"] {
    outline: 2px solid var(--status-active-color);
    filter: drop-shadow(0 0 5px var(--status-active-color));
}
g[status="recent"] {
    outline: 2px solid var(--status-recent-color);
    filter: drop-shadow(0 0 5px var(--status-recent-color));
}
g[status="past"] {
    outline: 2px solid var(--status-past-color);
    filter: drop-shadow(0 0 5px var(--status-past-color));
}

g[status="off"] path.hi-state-bg  {
    fill: var(--status-off-color);
}
div[status="off"] {
    color: var(--on-status-off-color);
    background-color: var(--status-off-color);
}
g[status="on"] {
    filter: drop-shadow(0 0 5px var(--status-on-color));
}
g[status="on"] path.hi-state-bg {
    fill: var(--status-on-color);
}
div[status="on"] {
    color: var(--on-status-on-color);
    background-color: var(--status-on-color);
}

g[status="open"] {
    filter: drop-shadow(0 0 5px var(--status-bad-color));
}
g[status="connected"] {
    filter: drop-shadow(0 0 5px var(--status-ok-color));
}
g[status="disconnected"] {
    filter: drop-shadow(0 0 5px var(--status-bad-color));
}
g[status="high"] {
    filter: drop-shadow(0 0 5px var(--status-ok-color));
}
g[status="low"] {
    filter: drop-shadow(0 0 5px var(--status-bad-color));
}

div[status] {
    color: var(--black);
    background-color: var(--white);
    border-color: var(--black);
    border-style: solid;
    border-width: 2px;
    border-radius: 8px;
}
div[status="active"] {
    color: var(--on-status-active-color);
    background-color: var(--status-active-color);
}
div[status="idle"] {
    color: var(--on-status-ok-color);
    background-color: var(--status-ok-color);
}
div[status="recent"] {
    color: var(--on-status-recent-color);
    background-color: var(--status-recent-color);
}
div[status="past"] {
    color: var(--on-status-past-color);
    background-color: var(--status-past-color);
}
div[status="open"] {
    color: var(--on-status-bad-color);
    background-color: var(--status-bad-color);
}
div[status="closed"] {
    color: var(--on-status-idle-color);
    background-color: var(--status-idle-color);
}
div[status="RAID_OK"],
div[status="connected"] {
    color: var(--on-status-ok-color);
    background-color: var(--status-ok-color);
}
div[status="disconnected"] {
    color: var(--on-status-bad-color);
    background-color: var(--status-bad-color);
}
div[status="high"] {
    color: var(--on-status-ok-color);
    background-color: var(--status-ok-color);
}
div[status="low"] {
    color: var(--on-status-bad-color);
    background-color: var(--status-bad-color);
}

g[hover] {
    filter: drop-shadow(0 0 10px var(--status-hover-color)) !important;
}

.display-only-svg-icon {
    width: 2rem;
    height: auto;
}

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
}
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 24px;
}
.slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}
.switch input:checked + .slider {
    background-color: var(--success-color);
}
.switch input:checked + .slider:before {
    transform: translateX(26px);
}

#hi-alert-banner-container {
}
.hi-alarm-level-info {
    color: var(--on-success-color);
    background-color: var(--success-color);
}

.hi-alarm-level-warning {
    color: var(--on-warning-color);
    background-color: var(--warning-color);
}

.hi-alarm-level-critical {
    color: var(--on-error-color);
    background-color: var(--error-color);
}

#hi-sleep-overlay {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 9999;
    transition: opacity 0.3s ease;
}

.scroll-container {
    overflow-x: auto;
    white-space: nowrap;
    adding-bottom: 10px;
}

.row.flex-nowrap {
    flex-wrap: nowrap;
}
.weather-forecast-daily-col {
    min-width: 100px;
}


.details-popup-wrapper {
  position: relative;
}
.details-popup-summary {
  cursor: pointer;
}
.details-popup-content {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 10;
  background: white;
  border: 1px solid #ccc;
  padding: 1em;
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

/* Camera button status styling */
.btn-camera[status="active"] {
    color: var(--on-status-active-color) !important;
    background-color: var(--status-active-color) !important;
    border-color: var(--status-active-color) !important;
    box-shadow: 0 0 5px var(--status-active-color);
}

.btn-camera[status="recent"] {
    color: var(--on-status-recent-color) !important;
    background-color: var(--status-recent-color) !important;
    border-color: var(--status-recent-color) !important;
    box-shadow: 0 0 3px var(--status-recent-color);
}

.btn-camera[status="past"] {
    color: var(--on-status-past-color) !important;
    background-color: var(--status-past-color) !important;
    border-color: var(--status-past-color) !important;
}

.btn-camera[status="idle"] {
    /* Default button styling - no changes needed */
}
