{% with current_data=state_status_data_by_role.thermostat_current_temperature setpoint_data=state_status_data_by_role.thermostat_target_temperature action_data=state_status_data_by_role.hvac_action %}

<div class="hi-state-panel-thermostat hi-state-panel-thermostat--grid"
     {% if action_data %}data-state-id="{{ action_data.entity_state.id }}" data-status status="{{ action_data.latest_sensor_value }}"{% endif %}>

  {% if current_data %}
    <div class="grid-temp"
         data-state-id="{{ current_data.entity_state.id }}"
         data-display-text>
      {{ current_data.latest_display_label }}
    </div>
  {% endif %}
  <div class="entity-name">{{ entity.name }}</div>
  {% if setpoint_data %}
    <div class="setpoint-line">
      <span class="dial-mode-label" for-status="heating">Heating</span>
      <span class="dial-mode-label" for-status="cooling">Cooling</span>
      <span class="dial-mode-label" for-status="idle">Idle</span>
      <span class="dial-mode-label" for-status="off">Off</span>
      · <strong data-state-id="{{ setpoint_data.entity_state.id }}" data-display-text>{{ setpoint_data.latest_display_label }}</strong>
    </div>
  {% endif %}

</div>

{% endwith %}
