<a href="{% if request.view_parameters.is_editing %}{% url 'entity_edit_mode' entity_id=entity_data.entity.id %}{% else %}{% url 'entity_edit' entity_id=entity_data.entity.id %}{% endif %}"
   class="card-link"
   data-async="true">
  <div class="card h-100">
    <div class="card-body p-3">
      <div>
        {% include "entity/panes/entity_status_title.html" with entity_status_data=entity_status_data %}
        <div>
          {% include "entity/panes/entity_state_status_list.html" with entity_state_status_data_list=entity_status_data.entity_state_status_data_list %}
        </div>
      </div>
    </div>
  </div>
</a>
