{% load common_template_helpers %}
<ul>
  {% for entity_state_status_data in entity_state_status_data_list %}
  <li>State: {{ entity_state_status_data.entity_state.name }}

    {% with sensor_response=entity_state_status_data.latest_sensor_response %}
    {% if sensor_response %}
    {% include_with_fallback entity_state_status_data.entity_state.entity_state_type.value_template_name "sense/panes/sensor_value_default.html" %}
    {% else %}
    <div><em>No sensor responses.</em></div>
    {% endif %}
    {% endwith %}

    {% for controller in entity_state_status_data.controller_list %}
    {% include_with_fallback entity_state_status_data.entity_state.entity_state_type.controller_template_name "control/panes/controller_default.html" %}
    {% empty %}
    <div><em>No controllers.</em></div>
    {% endfor %}
    
    {% empty %}
    <div><em>No state info.</em></div>
    {% endfor %}
</ul>
