{% load icons %}
<div>
  {% for entity_state_status_data in entity_state_status_data_list %}
  <div class="d-flex justify-content-start py-1">
    <div class="align-self-center text-center pr-3" style="min-width: 10rem">
      
      {% if entity_state_status_data.controller_data_list %}
      
      {% for controller_data in entity_state_status_data.controller_data_list %}
      {% include "control/panes/controller_data.html" with controller_data=controller_data in_modal_context=True %}
      {% endfor %}
      
      {% else %}
      
      {% with sensor_response=entity_state_status_data.latest_sensor_response %}
      {% if sensor_response %}
      {% include "sense/panes/sensor_response.html" with sensor_response=sensor_response %}
      {% else %}
      <div><em>No sensors or controllers.</em></div>
      {% endif %}
      {% endwith %}

      {% endif %}
    </div>
    <div class="align-self-center">
      {{ entity_state_status_data.entity_state.name }}
    </div>
    <div class="align-self-center ml-auto">
      {% with sensor_response=entity_state_status_data.latest_sensor_response %}
      {% if sensor_response and sensor_response.sensor.provides_video_stream %}
        <small>
          <a href="{% url 'console_entity_video_sensor_history' entity_id=sensor_response.sensor.entity_state.entity.id sensor_id=sensor_response.sensor.id %}"
             data-async="true" class="text-muted">
            {% icon "video" size="sm" css_class="hi-icon-left" %}Browse History
          </a>
        </small>
      {% endif %}
      {% endwith %}
    </div>
  </div>
  {% endfor %}
</div>
