<a href="{% if request.view_parameters.is_editing %}{% url 'entity_edit_mode' entity_id=entity_data.entity.id %}{% else %}{% url 'entity_edit' entity_id=entity_data.entity.id %}{% endif %}"
   class="card-link"
   data-async="true">
  <div class="card">
    <div class="card-body">
      <div class="d-flex">
        <div class="entity-title-section flex-shrink-0">
          {% include "entity/panes/entity_status_title.html" with entity_status_data=entity_data %}
        </div>
        <div class="entity-content-section flex-grow-1 ml-3">
          {% include "entity/panes/entity_state_status_card.html" with entity_state_status_data_list=entity_data.entity_state_status_data_list %}
        </div>
      </div>
    </div>
  </div>
</a>
