<div>
  {% with entity=entity_status_data.entity %}
  <div>
    {% if request.view_parameters.is_editing %}
    <a href="{% url 'entity_details' entity_id=entity.id %}"
       data-async="true">
      {{ entity.name }}
    </a>
    {% else %}
    <a href="{% url 'entity_status' entity_id=entity.id %}"
       data-async="true">
      {{ entity.name }}
    </a>
    {% endif %}
  </div>
  {% endwith %}

  {% include "entity/panes/entity_state_status_card.html" with entity_state_status_data_list=entity_status_data.entity_state_status_data_list %}

</div>
