{% with entity=entity_status_data.entity %}
<div class="d-flex justify-content-start">
  <div class="display-only-svg-icon pr-2">
    {% include "entity/panes/entity_display_only_svg_icon.html" with svg_icon_item=entity_status_data.display_only_svg_icon_item %}
  </div>
  <div>
    {% if request.view_parameters.is_editing %}
    <a href="{% url 'entity_edit_mode' entity_id=entity.id %}"
       data-async="true">
      {{ entity.name }}
    </a>
    {% else %}
    <a href="{% url 'entity_edit' entity_id=entity.id %}"
       data-async="true">
      {{ entity.name }}
    </a>
    {% endif %}
  </div>
</div>
{% endwith %}
