{% load tz %}
{% timezone USER_TIMEZONE %}
<div>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
	<tr>
	  <th>Timestamp</th>
	  <th>Trigger Name</th>
	</tr>
      </thead>
      <tbody>
	{% for event_history in event_history_list %}
	<tr>
	  <td>
	    {{ event_history.event_datetime|localtime }}
	  </td>
	  <td>
	    {{ event_history.event_definition.name }}
	  </td>
	</tr>
	{% empty %}
	<tr><td colspan="6"><div><em>No event history</em></div></td></tr>
	{% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endtimezone %}
