{% extends "pages/base.html" %}
{% load pipeline %}

{% block content %}

<div id="{{ DIVID.TOP }}" class="fixed-top">
  {% include top_template_name %}
</div>

<div id="{{ DIVID.BOTTOM }}" class="fixed-bottom">
  {% include bottom_template_name %}
</div>

<div class="container-fluid hi-screen">
  <div class="row">
    <div class="col-9 scrollable-column ">
      <div id="{{ DIVID.MAIN }}">
	{% include main_template_name %}
      </div>
    </div>
    <div class="col-3 fixed-column">
      <div id="{{ DIVID.SIDE }}">
	{% include side_template_name %}
      </div>
    </div>
  </div>
</div>
{% endblock %}


{% block footer_post_javascript %}
{% javascript 'js_hi_grid_content' %}
{% endblock %}
