{% extends "pages/base.html" %}

{% block content %}

<div class="fixed-top">
  {% include "panes/top_buttons.html" %}
</div>

<div class="fixed-bottom">
  {% include "panes/bottom_buttons.html" %}
</div>

<div class="container-fluid hi-screen">
  <div class="row">
    <div class="col-9 scrollable-column ">
      <div id="hi-main-content">
	{% include "location/location_view.html" %}
      </div>
    </div>
    <div class="col-3 fixed-column">
      <div id="hi-side-content">
	{% include "panes/side_panel.html" %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
