{% extends "pages/base.html" %}
{% load static %}

{% block content %}
<div class="container-fluid hi-interstitial-page">
  <div class="hi-start-heading col-4">
    <div class="">
      <img class="img-fluid" src="{% static 'img/hi-logo-467x200.png' %}" alt="Home Information Logo" />
    </div>
    <div class="lead">
      <em>Your home, your data, organized.</em>
    </div>
  </div>
  <div class="hi-interstitial-page-content">
    {% block interstitial_content %}
    {% endblock %}
  </div>
</div>
{% endblock %}
