{% extends "pages/base.html" %}

{% block content %}
<div class="container-fluid">
  <h1>Home Information Center</h1>
  <h2>Welcome!</h2>

  <p>
    To get started, we need to set up your location.
  </p>
  <p>
    Give your location a new and optionally upload an SVG image of your property and/or house.
  </p>
  
  <div>
    <a role="button" class="btn btn-success"
       href="{% url 'location_edit_location_add' %}"
       data-async="modal">
      ADD MY LOCATION
    </a>
  </div>
</div>

{% endblock %}
