{% load icons %}
<div class="row">
  <div class="col-3">
    {{ sim_entity.name }}
  </div>
  <div class="col-7">
    {% for sim_state in sim_entity.sim_state_list %}
    {% include "simulator/panes/sim_state.html" with sim_state=sim_state %}
    {% empty %}
    <div class="alert alert-warning">No simulation states defined.</div>
    {% endfor %}
  </div>
  <div class="col-2">
    <a href="{% url 'simulator_entity_edit' sim_entity_id=sim_entity.id %}"
       class="btn btn-primary" data-async="modal">
      {% icon "edit" size="sm" css_class="hi-icon-left" %}EDIT
    </a>
    <a href="{% url 'simulator_entity_delete' sim_entity_id=sim_entity.id %}"
       class="btn btn-danger" data-async="modal">X</a>
  </div>  
</div>
