<div class="continuous-control d-flex align-items-center">
  <span class="mr-2">{{ sim_state.min_value }}</span>
  <input type="range"
         name="value"
         min="{{ sim_state.min_value }}"
         max="{{ sim_state.max_value }}"
         value="{{ sim_state.value }}"
         oninput="this.nextElementSibling.value=this.value"
         onchange-async="true">
  <output class="ml-2" style="min-width: 3em; text-align: right;">{{ sim_state.value }}</output>
  <span class="ml-2">{{ sim_state.max_value }}</span>
</div>
