<div>
  <ul id="hi-simulator-tabs" class="nav nav-tabs" role="tablist">
    {% for simulator in simulator_list %}
    <li class="nav-item">
      <a id="hi-simulator-tab-{{ simulator.id }}" role="tab"
	 class="nav-link {% if simulator.id == current_simulator.id %}active{% endif %}"
	 data-toggle="tab" 
	 href="#hi-simulator-content-{{ simulator.id }}" 
	 role="tab" 
	 aria-controls="hi-simulator-content-{{ simulator.id }}" 
	 aria-selected="{% if simulator.id == current_simulator.id %}true{% else %}false{% endif %}">
	{{ simulator.label }}</a>
    </li>
    {% endfor %}
  </ul>

  <div id="hi-simulator-tab-content" class="tab-content">
    {% for simulator in simulator_list %}
    <div id="hi-simulator-content-{{ simulator.id }}" 
	 class="tab-pane fade {% if simulator.id == current_simulator.id %}show active{% endif %}" 
	 role="tabpanel" 
	 aria-labelledby="hi-simulator-tab-{{ simulator.id }}">

      <div>
	<div class="dropdown">
	  <button class="btn btn-secondary btn-control dropdown-toggle" type="button"
		  id="hi-sim-entity-{{ simulator.id }}-menu" data-toggle="dropdown">
	    ADD {{ simulator.label }} ENTITY
	    <span class="caret"></span>
	  </button>
	  <div class="dropdown-menu dropdown-menu-right"
	       role="menu" aria-labelledby="hi-sim-entity-{{ simulator.id }}-menu">
	  {% for sim_entity_class_wrapper in simulator.sim_entity_class_wrapper_list %}
	    {% if forloop.counter > 1 %}
	    <div class="dropdown-divider"></div>
	    {% endif %}
	    <a role="menuitem" class="dropdown-item plain"
	       href="{% url 'simulator_entity_add' simulator_id=simulator.id class_name=sim_entity_class_wrapper.name %} "
	       data-async="modal">
	      {{ sim_entity_class_wrapper.label }}
	    </a>
	    {% endfor %}
	  </div>
	</div>
      </div>
      
      {% for sim_entity in simulator.sim_entities %}
      {% include "simulator/panes/sim_entity.html" with simulator=simulator sim_entity=sim_entity %}
      {% empty %}
      <div class="alert alert-info" >No {{ simulator.label }} simulator entities defined.</div>
      {% endfor %}
      
    </div>
    {% endfor %}
  </div>
</div>
