{% extends "attribute/components/edit_content_body.html" %}
{% load icons %}
{% load attribute_extras %}

{% block basic_info %}{% endblock %}

{% block additional_actions %}
{% if show_modal_cancel %}
<a id="hi-modal-cancel" role="button" {% if autofocus %}autofocus="autofocus"{% endif %}
   class="btn btn-tertiary" href="#" data-dismiss="modal">
  {% icon "cancel" size="sm" css_class="hi-icon-left" %}CANCEL
</a>
{% endif %}

<!-- Integration Health Status Display -->
{% if core.health_status %}
<div class="ml-3">
  <a href="{% url 'integrations_health_status' integration_id=core.integration_data.integration_id %}"
     class="btn btn-link p-0 d-flex align-items-center text-decoration-none"
     data-async="modal"
     title="View health status details">
    <!-- Health status badge -->
    <span class="badge {% if core.health_status.is_healthy %}badge-success{% elif core.health_status.is_critical %}badge-danger{% else %}badge-warning{% endif %}">
      {% if core.health_status.is_healthy %}
        {% icon "check-circle" size="sm" css_class="mr-1" %}Healthy
      {% elif core.health_status.is_critical %}
        {% icon "warning" size="sm" css_class="mr-1" %}Error
      {% else %}
        {% icon "info-circle" size="sm" css_class="mr-1" %}Warning
      {% endif %}
    </span>
  </a>
</div>
{% endif %}
{% endblock %}

{% block file_upload_button %}{% endblock %}

{% block add_attribute_button %}{% endblock %}

{% block files_section %}{% endblock %}
