{% for hidden in alarm_action_form.hidden_fields %}
{{ hidden }}
{% endfor %}

{% if alarm_action_form.non_field_errors %}
<div class="non-field-errors">
  {% for err in alarm_action_form.non_field_errors %}
  <p class="form-error text-danger">ERROR: {{ err }}</p>
  {% endfor %}
</div>
{% endif %}

<div>
  {{ alarm_action_form.security_posture_str.label }}
  {{ alarm_action_form.security_posture_str }}
  {{ alarm_action_form.security_posture_str.errors }}
</div>
<div>
  {{ alarm_action_form.alarm_level_str.label }}
  {{ alarm_action_form.alarm_level_str }}
  {{ alarm_action_form.alarm_level_str.errors }}
</div>
<div>
  {{ alarm_action_form.alarm_lifetime_secs.label }}
  {{ alarm_action_form.alarm_lifetime_secs }}
  {{ alarm_action_form.alarm_lifetime_secs.errors }}
</div>
{% if alarm_action_form.instance.pk %}
<div>
  {{ alarm_action_form.DELETE }} Delete
</div>
{% endif %}
