{% for hidden in event_definition_form.hidden_fields %}
{{ hidden }}
{% endfor %}

{% if event_definition_form.non_field_errors %}
<div class="non-field-errors">
  {% for err in event_definition_form.non_field_errors %}
  <p class="form-error text-danger">ERROR: {{ err }}</p>
  {% endfor %}
</div>
{% endif %}

<div>
  {{ event_definition_form.name.label }}
  {{ event_definition_form.name }}
  {{ event_definition_form.name.errors }}
</div>

<div>
  {{ event_definition_form.event_window_secs.label }}
  {{ event_definition_form.event_window_secs }}
  {{ event_definition_form.event_window_secs.errors }}
</div>

<div>
  {{ event_definition_form.dedupe_window_secs.label }}
  {{ event_definition_form.dedupe_window_secs }}
  {{ event_definition_form.dedupe_window_secs.errors }}
</div>

<div>
  {{ event_definition_form.enabled.label }}
  {{ event_definition_form.enabled }}
  {{ event_definition_form.enabled.errors }}
</div>

<div>
  <div class="h5">Clauses</div>
  {{ event_clause_formset.management_form }}
  {% for event_clause_form in event_clause_formset %}
  {% include "event/edit/panes/event_clause_form.html" %}
  {% endfor %}
</div>
<div>
  <div class="h5">Alarm Actions</div>
  {{ alarm_action_formset.management_form }}
  {% for alarm_action_form in alarm_action_formset %}
  {% include "event/edit/panes/alarm_action_form.html" %}
  {% endfor %}
</div>
<div>
  <div class="h5">Control Actions</div>
  {{ control_action_formset.management_form }}
  {% for control_action_form in control_action_formset %}
  {% include "event/edit/panes/control_action_form.html" %}
  {% endfor %}
</div>

