{% load common_tags %}
{% load icons %}
{% generate_uuid as unique_id %}
{% if not event_clause_form.instance.pk %}
<div class="my-3">
  <a class="" data-toggle="collapse" href="#hi-event-clause-new-{{ unique_id }}"
     role="button" aria-expanded="false" aria-controls="hi-event-clause-new-{{ unique_id }}">
    {% icon "plus" size="sm" css_class="hi-icon-left" %} Add New Clause
  </a>
</div>
<div class="collapse my-2" id="hi-event-clause-new-{{ unique_id }}">
{% else %}
<div class="my-3">
{% endif %}

  <div class="d-flex justify-content-between" >
    <div class="h6"><em>Clause {{ forloop.counter }}</em></div>
    {% if event_clause_form.instance.pk %}
    <div class="">
      {{ event_clause_form.DELETE }}<span class="pl-2">Delete</span>
    </div>
    {% endif %}
  </div>

  <div class="pl-2">
    {% for hidden in event_clause_form.hidden_fields %}
    {{ hidden }}
    {% endfor %}
    
    {% if event_clause_form.non_field_errors %}
    <div class="non-field-errors">
      {% for err in event_clause_form.non_field_errors %}
      <p class="form-error text-danger">ERROR: {{ err }}</p>
      {% endfor %}
    </div>
    {% endif %}

    <div class="input-group mb-2 mr-sm-2 w-100">
      <div class="input-group-prepend" >
        <label for="{{ event_clause_form.entity.id_for_label }}"
               class="input-group-text" >{{ event_clause_form.entity_state.label }}</label>
        {{ event_clause_form.entity_state }}
        <small class="form-error text-danger" >{{ event_clause_form.entity_state.errors }}</small>
      </div>
    </div>

    <div class="input-group mb-2 mr-sm-2 w-100">
      <div class="input-group-prepend" >
        <label for="{{ event_clause_form.value.id_for_label }}"
               class="input-group-text" >{{ event_clause_form.value.label }}</label>
        {{ event_clause_form.value }}
        <small class="form-error text-danger" >{{ event_clause_form.value.errors }}</small>
      </div>
    </div>
  </div>  
</div>
