{% load static %}
<div class="d-flex justify-content-between">
  <div class="h3 integration-title">
    <img class="img-fluid"
         src="{% static 'img/integrations/home-assistant.png' %}"
         alt="Home Assistant Logo" \>
    Home Assistant
  </div>
  <div class="">
    <form action="{% url 'hass_sync' %}"
        method="POST" role="form" data-async="true">
      {% csrf_token %}
      <button type="submit" class="btn btn-secondary" role="button"
              name="action" value="sync" >SYNC ITEMS</button>
    </form>
  </div>
</div>
