{% load static %}
<div class="d-flex justify-content-between">
  <div class="h3 integration-title">
    <img class="img-fluid"
         src="{% static 'img/integrations/home-assistant.png' %}"
         alt="Home Assistant Logo" \>
    Home Assistant
  </div>
  <div class="">
    <form action="{% url 'hass_sync' %}"
        method="POST" role="form" data-async="true">
      {% csrf_token %}
      <button type="submit" class="btn btn-secondary" role="button"
              name="action" value="sync" >
        {% if has_entities %}
        RE-SYNC
        {% else %}
        IMPORT
        {% endif %}
      </button>
    </form>
  </div>
</div>
{% if not has_entities %}
<div class="alert alert-warning text-center">
  Use the "IMPORT" button to add items from Home Assistant.
</div>
{% endif %}
