<div class="p-1">
  <div class="d-flex justify-content-between">
    {% include "collection/panes/collection_buttons.html" %}
    <div class="d-flex justify-content-end">
      {% if request.view_parameters.is_editing %}
      <div class="mx-1">
        <a href="{% url 'profiles_edit_reference_help' %}"
           class="btn btn-tertiary btn-control" role="button"
           data-async="true" >
          EDIT HELP
        </a>
      </div>
      {% else %}
      <div class="mx-1">
        {% include "console/panes/audio_control.html" %}
      </div>
      <div class="mx-1">
        {% include "console/panes/sleep_mode_control.html" %}
      </div>
      <div class="mx-1">
        {% include "console/panes/console_lock_button.html" %}
      </div>
      <div class="mx-1">
        <a href="{% url 'config_home' %}"
           class="btn btn-tertiary btn-control" role="button"
           data-async="true" >
          CONFIGURE
        </a>
      </div>
      {% endif %}
    </div>
  </div>
</div>
