{% load static %}
{% load icons %}
<div class="p-1">
  <div class="d-flex justify-content-between">
    {% include "location/panes/location_view_buttons.html" %}
    <div>
      <img src="{% static 'img/hi-logo-149x64.png' %}" alt="Home Information Logo">
    </div>
    <div class="d-flex justify-content-end">
      {% if request.view_parameters.location %}
      <div class="px-1">
        {% if request.view_parameters.is_editing %}
        <a class="btn btn-primary btn-control" role="button"
           href="{% url 'location_edit_mode' location_id=request.view_parameters.location.id %}"
           data-async="true" >
          {% icon "edit" size="sm" css_class="" %}
          {{ request.view_parameters.location.name }}
        </a>
        {% else %}
        <a class="btn btn-primary btn-control" role="button"
           href="{% url 'location_edit_location_edit' location_id=request.view_parameters.location.id %}"
             data-async="true" >
          {{ request.view_parameters.location.name }}
        </a>
        {% endif %}
      </div>
      {% endif %}
    
      {% include "location/panes/location_dropdown.html" %}

      <div class="px-1">
        {% if request.view_parameters.is_editing %}
        <a href="{% url 'edit_end' %}"
           class="btn btn-tertiary btn-control" role="button" >
          {% icon "close" size="sm" css_class="hi-icon-left" %}EXIT EDIT
        </a>
        {% else %}
        <a href="{% url 'edit_start' %}"
           class="btn btn-tertiary btn-control" role="button" >
          {% icon "edit" size="sm" css_class="hi-icon-left" %}EDIT
        </a>
        {% endif %}
      </div>
    </div>
  </div>
</div>
