<div class="bg-white p-1">
  <div class="d-flex justify-content-between">
    {% include "location/panes/location_view_buttons.html" %}
    <div class="d-flex justify-content-end">
      {% include "location/panes/location_dropdown.html" %}
      <div>
	{% if request.view_parameters.is_editing %}
	<a href="{% url 'edit_end' %}"
	   class="btn btn-tertiary btn-control" role="button" >
	  EXIT EDIT
	</a>
	{% else %}
	<a href="{% url 'edit_start' %}"
	   class="btn btn-tertiary btn-control" role="button" >
	  EDIT
	</a>
	{% endif %}
      </div>
    </div>
  </div>
</div>
