<div class="">
  <h1>Administration</h1>

  <ul class="nav nav-tabs" id="hi-config-tab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="hi-settings-tab" data-toggle="tab" href="#hi-settings" role="tab"
	 aria-controls="hi-settings" aria-selected="true">Settings</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="hi-integrations-tab" data-toggle="tab" href="#hi-integrations" role="tab"
	 aria-controls="hi-integrations" aria-selected="false">Integrations</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="hi-other-tab" data-toggle="tab" href="#hi-other" role="tab"
	 aria-controls="hi-other" aria-selected="false">Other</a>
    </li>
  </ul>
  
  <div class="tab-content" id="hi-config-tab-content">
    <div class="tab-pane fade show active" id="hi-settings" role="tabpanel"
	 aria-labelledby="hi-settings-tab">
      TBD for Settings
    </div>
    <div class="tab-pane fade" id="hi-integrations" role="tabpanel"
	 aria-labelledby="hi-integrations-tab">
      <div id="{{ DIVID.INTEGRATION_TAB }}">
	{% include "core/panes/config_tab.html" with integration_list=integration_list %}
      </div>
    </div>
    
    <div class="tab-pane fade" id="hi-other" role="tabpanel"
	 aria-labelledby="hi-other-tab">
      TBD for Other
    </div>
  </div>
  
</div>
<script>
 let gHiPreviousTabId = '';  // Track the previously active tab
 let gHiIgnorePushState = false;  // Flag to ignore pushState when triggered by popstate

 $(document).ready(function () {

   $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
     let tabId = $(e.target).attr('href');

     if ( gHiIgnorePushState ) {
       if ( Hi.DEBUG ) { console.log( `Ignoring Tab change: ${tabId}` ); }
       gHiIgnorePushState = false;
       return;
     }
     

     if ( Hi.DEBUG ) { console.log( `Tab change event: ${tabId} [prev=${gHiPreviousTabId}]` ); }
     
     if (tabId === gHiPreviousTabId) {
       return;
     }
     gHiPreviousTabId = tabId;
     
     let newUrl = window.location.protocol + "//" + window.location.hostname;
     if (window.location.port) {
       newUrl += ':' + window.location.port;
     }
     newUrl += window.location.pathname + tabId;
     window.history.pushState(null, null, newUrl);

     if ( Hi.DEBUG ) { console.log( `Pushed URL: ${newUrl}` ); }

   });

   // On page load, show the correct tab based on the URL hash
   let hash = window.location.hash;
   if (hash) {
     $('.nav-tabs a[href="' + hash + '"]').tab('show');
   }
 });


 window.addEventListener('popstate', function() {
   let hash = window.location.hash;
   if ( Hi.DEBUG ) { console.log( `Pop State: ${hash}` ); }
   gHiIgnorePushState = true;
   if (hash) {
     $('.nav-tabs a[href="' + hash + '"]').tab('show');
   } else {
     // Fallback if no hash exists
     $('.nav-tabs a:first').tab('show');
   }
 });
</script>
