<div id="hi-config-settings-form">
  <div>
    <form action="{% url 'config_settings' %}" method="post"
	class="form" data-async="#hi-config-settings-form" data-mode="replace">
      {% csrf_token %}

      <div class="d-flex justify-content-start my-2">
	<div class="align-self-center h3">System Settings</div>
	<div class="align-self-center h3 ml-4">
	  <button id="hi-config-setting-button" type="submit" class="btn btn-primary"
		  name="action" value="update">
	    UPDATE
	  </button>     
	</div>
      </div>
      
      {% for subsystem_attribute_formset in subsystem_attribute_formset_list %}
      <div class="h5">{{ subsystem_attribute_formset.instance.name }}</div>
      {% include "attribute/panes/attribute_form.html" with attribute_formset=subsystem_attribute_formset %}
      <hr />
      {% endfor %}

      <div class="my-2">
	<button id="hi-config-setting-button" type="submit" class="btn btn-primary"
		name="action" value="update">
	  UPDATE
	</button>
      </div>
    </form>
  </div>
</div>
