{% extends "modals/action_done.html" %}

{% block title_text %}
Trigger History
{% endblock %}

{% block body %}
<div class="container-fluid px-0">
  <div class="row mb-3">
    <div class="col-12">
      <h5 class="mb-0">
        <i class="fas fa-history text-primary mr-2"></i>
        Trigger History
      </h5>
      <small class="text-muted">Recent trigger events and their details</small>
    </div>
  </div>
  
  <div class="row">
    <div class="col-12">
      {% include "event/panes/event_history_list.html" with grouped_events=grouped_events %}
    </div>
  </div>
  
  <div class="row">
    <div class="col-12">
      {% include "common/panes/pagination.html" with pagination=pagination %}
    </div>
  </div>
</div>
{% endblock %}
