<div>
  <div class="h6 text-center">Cameras</div>
  <div class="row">
    {% for camera_data in camera_control_display_list %}
    <div class="w-50 pl-1 pb-1">
      <button type="button"
              data-entity-id="{{ camera_data.entity.id }}"
              data-dispatch-url="{% url 'console_entity_video_stream_dispatch' entity_id=camera_data.entity.id %}"
              class="btn btn-primary btn-control btn-camera video-nav-button {% if camera_data.status_entity_state %}{{ camera_data.status_entity_state.css_class }}{% endif %}"
              {% if camera_data.status_entity_state %}status=""{% endif %}>
        {{ camera_data.short_name }}
      </button>
    </div>
    {% endfor %}
  </div>
</div>
