{% load video_tags %}
{% if entity.has_native_video_stream %}
  {% include "console/panes/entity_video_stream.html" with entity=entity %}
{% elif entity.has_streamable_snapshot %}
  {% entity_video_snapshot entity as video_snapshot %}
  {% if video_snapshot and video_snapshot.source_url %}
  {% cache_bust_url video_snapshot.source_url as snapshot_url %}
  <div class="video-container">
    <img class="img-fluid" data-video-snapshot
         data-stream-fps="{{ entity.video_snapshot_stream_fps }}"
         src="{{ snapshot_url }}" alt="{{ entity.name }} Live View">
  </div>
  {% else %}
  {% include "console/panes/video_unavailable_placeholder.html" with heading="Live View Unavailable" subtitle="The integration may be offline or unable to provide a snapshot" %}
  {% endif %}
{% elif entity.has_video_snapshot %}
  {% entity_video_snapshot entity as video_snapshot %}
  {% if video_snapshot and video_snapshot.source_url %}
  {% cache_bust_url video_snapshot.source_url as snapshot_url %}
  <div class="video-container">
    <img class="img-fluid"
         src="{{ snapshot_url }}" alt="{{ entity.name }} Snapshot">
  </div>
  {% else %}
  {% include "console/panes/video_unavailable_placeholder.html" with heading="Snapshot Unavailable" subtitle="The integration may be offline or unable to provide a snapshot" %}
  {% endif %}
{% endif %}
