<div class="d-flex flex-column h-100">
  {% if request.view_parameters.location %}
  <div class="my-2">
    <a href="{% url 'location_edit_location_edit' location_id=request.view_parameters.location.id %}"
       class="btn btn-primary btn-control" role="button"
       data-async="true" >
      {{ request.view_parameters.location.name }} Info
    </a>
  </div>
  {% endif %}

  {% include "weather/panes/weather_alerts.html" %}
  {% include "weather/panes/weather_overview.html" %}
  
  <div class="d-flex justify-content-center my-2">
    {% if camera_control_display_list %}
    <div class="col-6">
      {% include "console/panes/camera_controls.html" %}
    </div>
    {% endif %}
    <div class="col-6">
      {% include "security/panes/security_state_control.html" %}
    </div>
  </div>
  <div class="my-2">
    <a href="{% url 'event_history' %}"
       class="btn btn-primary btn-control" role="button"
       data-async="true" >
      EVENT HISTORY
    </a>
  </div>
</div>
