{% extends "modals/action_with_cancel.html" %}

{% block preamble %}
<form action="{% url 'integrations_disable' integration_id=integration_data.integration_id %}"
      method="post" enctype="multipart/form-data"
      class="form" data-async="modal">
  {% csrf_token %}
  {% endblock %}

  {% block title_text %}
  {{ integration_data.label }}
  {% endblock %}
  
  {% block body %}
  <h4>Disable  {{ integration_data.label }} Integration?</h4>

  {% endblock %}

  {% block action_right %}
  <button id="hi-integration-disable" type="submit" class="btn btn-lg btn-warning"
	  name="action" value="enable">
    DISABLE
  </button>
  {% endblock %}
  
  {% block postamble %}
</form>
{% endblock %}
