{% extends "modals/action_done.html" %}

{% block title_text %}
Manage Integrations
{% endblock %}

{% block body %}
{% for integration_data in integration_data_list %}
<div class="d-flex justify-content-between">
  <div class="col-6">
    {{ integration_data.integration_metadata.label }}
  </div>
  <div class="col-3">
    {% if integration_data.integration.is_enabled %}
    <span class="text-success">ENABLED</span>
    {% else %}
    <span class="text-danger">DISABLED</span>
    {% endif %}
  </div>

  <div class="col-3">
    {% if integration_data.integration.is_enabled %}
    <a href="{% url 'integrations_action' integration_id=integration_data.integration.integration_id action='disable' %}"
       role="button" class="btn btn-danger btn-control" data-async="modal">DISABLE</a>
    
    {% else %}
    <a href="{% url 'integrations_action' integration_id=integration_data.integration.integration_id action='enable' %}"
       class="btn btn-success btn-control" role="button" data-async="modal">ENABLE</a>
    {% endif %}
  </div>
</div>
{% endfor %}
{% endblock %}
