{% extends "modals/action_ok.html" %}

{% block title_text %}
Sensor Response Details
{% endblock %}

{% block body %}
<div>
  <div class="h4">{{ sensor_history.sensor.name }}</div>
  {% if sensor_history.image_url %}
  <div>
    <img class="img-fluid" src="{{ sensor_history.image_url }}" alt="{{ alarm.title }}">
  </div>
  {% endif %}
  <div class="table-responsive">
    <table class="table table-striped">
      <tbody>
	{% for label, value in sensor_history.detail_attrs.items %}
	<tr>
	  <th class="text-right">{{ label }}</th>
	  <td>{{ value }}</td>
	</tr>
	{% endfor %}
      </tbody>
    </table>
  </div>  
</div>
{% endblock %}
