{% extends "modals/action_ok.html" %}

{% block title_text %}
Sensor Response Details
{% endblock %}

{% block body %}
<div>
  {% if sensor_history.image_url %}
  <div>
    <img class="img-fluid" src="{{ sensor_history.image_url }}" alt="{{ alarm.title }}">
  </div>
  {% endif %}
  <div>
    {% for label, value in sensor_history.detail_attrs.items %}
    <div class="row">
      <div class="col-3 text-right">{{ label }}</div>
      <div class="col-9-">{{ value }}</div>
    </div>
    {% endfor %}
  </div>  
</div>
{% endblock %}
