{% load tz %}
{% load common_tags %}
{% timezone USER_TIMEZONE %}
<div class="table-responsive">
  <table class="table table-striped">
    <tbody>
      {% for sensor_response in sensor_response_list %}
      {% if sensor_response.has_video_stream %}
        <tr>
          <td>
            <a href="{{ sensor_response.video_browse_url }}" data-async="true">
              {% include_with_fallback sensor_response.sensor.entity_state.entity_state_type.value_template_name "sense/panes/sensor_response_value_default.html" %}
            </a>
          </td>
          <td>{{ sensor_response.timestamp|localtime }}</td>
        </tr>
      {% elif sensor_response.has_details %}
        <tr>
          <td>
            <a href="{{ sensor_response.details_url }}" data-async="true">
              {% include_with_fallback sensor_response.sensor.entity_state.entity_state_type.value_template_name "sense/panes/sensor_response_value_default.html" %}
            </a>
          </td>
          <td>{{ sensor_response.timestamp|localtime }}</td>
        </tr>
      {% else %}
      <tr>
        <td>
          {% include_with_fallback sensor_response.sensor.entity_state.entity_state_type.value_template_name "sense/panes/sensor_response_value_default.html" %}
        </td>
        <td>{{ sensor_response.timestamp|localtime }}</td>
      </tr>
      {% endif %}
      {% empty %}
      <tr><td colspan="2"><div class="alert alert-info" >No history.</div></td></tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% if show_all_link and sensor_response_list %}
<div>
  {% if sensor.provides_video_stream %}
  <a href="{% url 'console_entity_video_sensor_history' entity_id=sensor.entity_state.entity.id sensor_id=sensor.id %}"
     data-async="true">&gt;&gt; See All</a>
  {% else %}
  {# Use existing sensor history modal for non-video sensors #}
  <a href="{% url 'sense_sensor_history' sensor_id=sensor.id %}"
     data-async="true">&gt;&gt; See All</a>
  {% endif %}
</div>
{% endif %}
{% endtimezone %}
