<ul>
  {% for sensor_history in sensor_history_list %}
  <li>
    Response[{{ sensor_history.id }}]: {{ sensor_history.value }} [{{ sensor_history.response_datetime }}]
    <h2>DETAILS: {{ sensor_history.details }}</h2>
    {% if sensor_history.details %}
    <a href="{% url 'sense_sensor_history_details' sensor_history_id=sensor_history.id %}"
       data-async="true">Details</a>
    {% endif %}
  </li>
  {% empty %}
  <div><em>No sensor history</em></div>
  {% endfor %}
  {% if show_all_link and sensor_history_list %}
  <a href="{% url 'sense_sensor_history' sensor_id=sensor.id %}"
     data-async="true">All History</a>
  {% endif %}
</ul>
