{% load static %}
{% load common_tags %}
<link rel="stylesheet" href="{% static 'css/svg-location-color.css' %}">
<div id="hi-svg-edit-canvas" class="hi-location-view">
  <svg id="hi-svg-edit-svg"
       class="hi-location-view-svg"
       xmlns="http://www.w3.org/2000/svg"
       viewBox="{{ svg_view_box }}"
       extents="{{ svg_view_box }}"
       width="100%" height="100%" preserveAspectRatio="xMidYMid meet">
    <defs>
      {% include "location/panes/svg_fill_patterns_color.html" %}
    </defs>
    <g class="hi-location-view-base">
      {% include_media_template draft_svg_filename %}
    </g>
  </svg>
</div>
