{% for hidden in location_edit_form.hidden_fields %}
{{ hidden }}
{% endfor %}

{% if location_edit_form.non_field_errors %}
<div class="non-field-errors">
  {% for err in location_edit_form.non_field_errors %}
  <p class="form-error text-danger">ERROR: {{ err }}</p>
  {% endfor %}
</div>
{% endif %}

<div class="form-group">
  <label for="{{ location_edit_form.name.id_for_label }}">{{ location_edit_form.name.label }}</label>
  {{ location_edit_form.name }}
  <small class="form-error text-danger">{{ location_edit_form.name.errors }}</small>
</div>

<div class="form-group">
  <label for="{{ location_edit_form.order_id.id_for_label }}">{{ location_edit_form.order_id.label }}</label>
  {{ location_edit_form.order_id }}
  <small class="form-error text-danger">{{ location_edit_form.order_id.errors }}</small>
</div>

<div>
  {% include "attribute/panes/attribute_form.html" with attribute_formset=location_attribute_formset %}
</div>
