<div id="hi-entity-toggle-location-{{ entity.id }}"
     class="entity-item-row{% if exists_in_view %} in-view{% endif %}"
     data-entity-id="{{ entity.id }}"
     data-entity-name="{{ entity.name }}"
     data-entity-type="{{ entity.entity_type }}"
     data-status="{% if exists_in_view %}in-view{% else %}not-in-view{% endif %}">
  <form method="POST" role="form"
        action="{% url 'location_edit_location_view_entity_toggle' location_view_id=location_view.id entity_id=entity.id %}"
        data-async="#hi-entity-toggle-location-{{ entity.id }}" data-mode="replace" >
    {% csrf_token %}
    <input type="checkbox" id="entity-toggle-location-checkbox-{{ entity.id }}"
           name="checkbox_state"
           class="entity-item-checkbox"
           {% if exists_in_view %}checked{% endif %}
           onchange-async="true" >
    <label for="entity-toggle-location-checkbox-{{ entity.id }}" class="entity-item-label">
      {{ entity.name }} <span class="entity-item-id">[{{ entity.integration_id }}]</span>
    </label>
  </form>
</div>
