{% for hidden in location_add_form.hidden_fields %}
{{ hidden }}
{% endfor %}

{% if location_add_form.non_field_errors %}
<div class="non-field-errors">
  {% for err in location_add_form.non_field_errors %}
  <p class="form-error text-danger">ERROR: {{ err }}</p>
  {% endfor %}
</div>
{% endif %}

<p>
  {{ location_add_form.name.label }}
  {{ location_add_form.name }}
  {{ location_add_form.name.errors }}
</p>

<p>
  Optionally add an image (SVG format) showing your property and/or house layout.  Skip this and we'll uses a predefined image for you. You'll be able to update this image later.
</p>
{% include "common/svg_file_form.html" with svg_file_form=location_add_form label='Select an SVG file:' %}
