{% load icons %}
<div>
  {% if request.view_parameters.is_editing %}
  {% include "edit/panes/side_header.html" %}
  {% endif %}

  <hr />
  <div class="h4">Display Items</div>

  <div class="my-2">
    <a href="{% url 'entity_edit_entity_add' %}"
       class="btn btn-success btn-control" role="button"
       data-async="modal" >
      {% icon "plus" size="sm" css_class="hi-icon-left" %}ADD NEW ITEM
    </a>
  </div>

  {% for entity_view_group in entity_view_group_list %}
  <div>
    <div class="h5">{{ entity_view_group.entity_group_type.label }}</div>
    {% for entity_view_item in entity_view_group.item_list %}
    {% include "location/edit/panes/location_view_entity_toggle.html" with location_view=location_view entity=entity_view_item.entity exists_in_view=entity_view_item.exists_in_view %}
    {% endfor %}
  </div>
  {% empty %}
  {% include "edit/panes/no_entities_message.html" %}
  {% endfor %}

  {% if collection_view_group.item_list %}
  <div class="">
    <div class="h5">Collections</div>
    {% for collection_view_item in collection_view_group.item_list %}
    {% include "location/edit/panes/location_view_collection_toggle.html" with location_view=location_view collection=collection_view_item.collection exists_in_view=collection_view_item.exists_in_view %}
    {% endfor %}
  </div>
  {% endif %}
</div>
