{% load icons %}
<form action="{% url 'location_properties_edit' location_id=location.id %}"
      method="post"
      class="form" data-async="true">
  {% csrf_token %}
  <div>
    {% include "location/edit/panes/location_edit_form.html" %}
  </div>
  
  <div class="sidebar-form-actions">
    <button id="hi-location-properties-edit-button" type="submit" class="btn btn-primary btn-block"
        name="action" value="update">
      {% icon "save" size="sm" css_class="hi-icon-left" %}UPDATE
    </button>
  </div>
</form>

{% if request.view_parameters.is_editing %}
<div class="sidebar-form-actions">
  <a href="{% url 'location_edit_svg_replace' location_id=location.id %}"
     id="hi-svg-replace-link" class="btn btn-sm btn-secondary btn-block btn-control" role="button"
     data-async="true">
    {% icon "upload" size="sm" css_class="hi-icon-left" %}REPLACE BACKGROUND IMAGE
  </a>
</div>

<div class="sidebar-form-actions">
  <a href="{% url 'location_edit_location_delete' location_id=location.id %}"
     id="hi-delete-location-link" class="btn btn-sm btn-danger btn-block btn-control" role="button"
     data-async="true">
    {% icon "delete" size="sm" css_class="hi-icon-left" %}DELETE SPACE AND ALL VIEWS
  </a>
</div>
{% endif %}
