{% for hidden in location_edit_form.hidden_fields %}
{{ hidden }}
{% endfor %}

{% if location_edit_form.non_field_errors %}
<div class="sidebar-form-errors">
  {% for err in location_edit_form.non_field_errors %}
  <p class="sidebar-form-error">ERROR: {{ err }}</p>
  {% endfor %}
</div>
{% endif %}

<div class="sidebar-form-field">
  <label for="{{ location_edit_form.name.id_for_label }}" class="sidebar-form-label">{{ location_edit_form.name.label }}</label>
  <input type="text" id="{{ location_edit_form.name.id_for_label }}" name="{{ location_edit_form.name.name }}" value="{{ location_edit_form.name.value|default:'' }}" class="sidebar-form-input">
  {% if location_edit_form.name.errors %}
    <div class="sidebar-form-error">{{ location_edit_form.name.errors }}</div>
  {% endif %}
</div>

<div class="sidebar-form-field">
  <label for="{{ location_edit_form.order_id.id_for_label }}" class="sidebar-form-label">{{ location_edit_form.order_id.label }}</label>
  <input type="number" id="{{ location_edit_form.order_id.id_for_label }}" name="{{ location_edit_form.order_id.name }}" value="{{ location_edit_form.order_id.value }}" class="sidebar-form-input">
  {% if location_edit_form.order_id.errors %}
    <div class="sidebar-form-error">{{ location_edit_form.order_id.errors }}</div>
  {% endif %}
</div>

<div class="sidebar-form-field">
  <label for="{{ location_edit_form.svg_view_box_str.id_for_label }}" class="sidebar-form-label">{{ location_edit_form.svg_view_box_str.label }}</label>
  <input type="text" id="{{ location_edit_form.svg_view_box_str.id_for_label }}" name="{{ location_edit_form.svg_view_box_str.name }}" value="{{ location_edit_form.svg_view_box_str.value|default:'' }}" class="sidebar-form-input">
  {% if location_edit_form.svg_view_box_str.errors %}
    <div class="sidebar-form-error">{{ location_edit_form.svg_view_box_str.errors }}</div>
  {% endif %}
</div>

