{% for hidden in location_edit_form.hidden_fields %}
{{ hidden }}
{% endfor %}

{% if location_edit_form.non_field_errors %}
<div class="non-field-errors">
  {% for err in location_edit_form.non_field_errors %}
  <p class="form-error text-danger">ERROR: {{ err }}</p>
  {% endfor %}
</div>
{% endif %}

<div>
  {{ location_edit_form.name.label }}
  {{ location_edit_form.name }}
  {{ location_edit_form.name.errors }}
</div>

<div>
  {{ location_edit_form.order_id.label }}
  {{ location_edit_form.order_id }}
  {{ location_edit_form.order_id.errors }}
</div>

<div>
  {% include "attribute/panes/attribute_form.html" with attribute_formset=location_attribute_formset %}
</div>
 
