{% for hidden in location_form.hidden_fields %}
{{ hidden }}
{% endfor %}

{% if location_form.non_field_errors %}
<div class="non-field-errors">
  {% for err in location_form.non_field_errors %}
  <p class="form-error text-danger">ERROR: {{ err }}</p>
  {% endfor %}
</div>
{% endif %}

<p>
  {{ location_form.name.label }}
  {{ location_form.name }}
  {{ location_form.name.errors }}
</p>

<p>
  Optionally add an image (SVG format) showing your property and/or house layout.  Skip this and we'll uses a predefined image for you. You'll be able to update this image later.
</p>

<p>
  <label for="id_svg_file">Select an SVG file:</label>
  <input type="file" name="svg_file" id="id_svg_file">
  {{ location_form.svg_file.errors }}
</p>

{% if location_form.show_remove_dangerous_svg_items %}
<p>
  <div class="form-check">
    {{ location_form.remove_dangerous_svg_items }}
    {{ location_form.remove_dangerous_svg_items.label }}
  </div>
</p>
{% endif %}
