{% extends "modals/action_with_cancel.html" %}

{% block preamble %}
<form action="{% url 'hass_enable' %}" method="post" enctype="multipart/form-data"
      class="form" data-async="modal">
  {% csrf_token %}
{% endblock %}

{% block title_text %}
  Home Assistant
{% endblock %}

{% block body %}
  <h4>Enable Home Assistant Integration</h4>

  <div>
    {% include "attribute/panes/attribute_form.html" with attribute_formset=integration_attribute_formset %}
  </div>
  {% endblock %}
  
  {% block action_right %}
  <button id="hi-hass-enable" type="submit" class="btn btn-lg btn-success"
	  name="action" value="enable">
    ENABLE
  </button>
  {% endblock %}
  
{% block postamble %}
</form>
{% endblock %}
