{% if request.view_parameters.is_editing %}
{% include "edit/panes/side_header.html" %}
{% endif %}

<div class="d-flex justify-content-between">
  <div class="h5"><small>Collection:</small>{{ collection.name }}</div>
  <div class="">
    <a href="{% url 'edit_item_details_close' %}"
       class="btn btn-tertiary" role="button" data-async="true">
      X
    </a>
  </div>
</div>

<div id="{{ DIVID.COLLECTION_EDIT_PANE }}">
  {% include "collection/edit/panes/collection_edit.html" %}
</div>

{% if collection_position_form %}
<div id="{{ DIVID.COLLECTION_POSITION_EDIT_PANE }}">
  {% include "collection/edit/panes/collection_position_edit.html" %}
</div>
{% endif %}

<h5>Views</h5>
<div id="hi-edit-collection-views">
  {% include "collection/edit/panes/collection_views.html" %}
</div>

<div class="">
  <a href="{% url 'collection_edit_collection_delete' collection_id=collection.id %}"
     class="btn btn-danger btn-control" role="button" data-async="true">
    DELETE COLLECTION
  </a>
</div>
