<div class="d-flex justify-content-between">
  <div class="h5"><small>Collection:</small>{{ collection_detail_data.collection.name }}</div>
  <div class="">
    <a href="{% url 'edit_item_details_close' %}"
       class="btn btn-tertiary" role="button" data-async="true">
      X
    </a>
  </div>
</div>

{% if collection_detail_data.location_item_position_form %}
<h5>Position</h5>
<div id="{{ collection_detail_data.location_item_position_form.content_html_id }}">
  {% include "location/edit/panes/location_item_position.html" with location_item_position_form=collection_detail_data.location_item_position_form %}
</div>
{% endif %}

<h5>View Type</h5>
<div>{{ collection_detail_data.collection.collection_type.label }}</div>

<h5>Order Index</h5>
<div>{{ collection_detail_data.collection.order_id }}</div>

<h5>Views</h5>
<div id="hi-edit-collection-views">
  {% include "collection/edit/panes/collection_views.html" %}
</div>

<div class="">
  <a href="{% url 'collection_edit_collection_delete' collection_id=collection_detail_data.collection.id %}"
     class="btn btn-danger btn-control" role="button" data-async="true">
    DELETE COLLECTION
  </a>
</div>
