<div class="card h-100">
  <div class="card-body p-3">
    {% include "collection/panes/entity_card_title.html" with entity_status_data=entity_status_data %}
    {% if collection.collection_type.is_cameras %}
    <div>
      {% include "console/panes/entity_video_stream_w_link.html" with entity=entity_status_data.entity %}
    </div>
    {% else %}
    {% include "collection/panes/entity_state_list.html" with entity_state_status_data_list=entity_status_data.entity_state_status_data_list %}
    {% endif %}
  </div>
</div>
