{% load state_panel_tags %}
<div class="card h-100">
  <div class="card-body">
    <div class="d-flex">
      <div class="entity-title-section flex-shrink-0">
        {% include "collection/panes/entity_card_title.html" with entity_status_data=entity_status_data %}
      </div>
      {% if collection.collection_type.is_cameras %}
      <div>
        {% include "console/panes/entity_live_view_w_link.html" with entity=entity_status_data.entity %}
      </div>
      {% else %}
      <div class="entity-content-section flex-grow-1 ml-3">
        {% render_entity_status_panel entity_status_data "list" %}
      </div>
      {% endif %}
    </div>
  </div>
</div>
