{% load state_panel_tags %}
<div class="card h-100">
  <div class="card-body">
    <div class="d-flex">
      <div class="entity-title-section flex-shrink-0">
        {% include "collection/panes/entity_card_title.html" with entity_status_data=state_panel_data.entity_display_data %}
      </div>
      {% if collection.collection_view_type.is_security %}
      <div>
        {% include "console/panes/entity_live_view_w_link.html" with entity=state_panel_data.entity %}
      </div>
      {% else %}
      <div class="entity-content-section flex-grow-1 ml-3">
        {% include_panel state_panel_data %}
      </div>
      {% endif %}
    </div>
  </div>
</div>
