<div class="my-2">
  <a class="" data-toggle="collapse" href="#collapseExample"
     role="button" aria-expanded="false" aria-controls="collapseExample">
    <span class="plus-icon">&#43;</span> Add New Attribute
  </a>
</div>
<div class="collapse my-2" id="collapseExample">

  <div class="form-group" >
    <label for="{{ attribute_form.name.id_for_label }}"><em>New {{ attribute_form.name.label }}</em></label>
    <input type="text"
           id="{{ attribute_form.name.id_for_label }}"
	   class="form-control"
           name="{{ attribute_form.name.html_name }}"
           value="{{ attribute_form.name.value|default_if_none:'' }}">
    <div class="form-error text-danger" >{{ attribute_form.name.errors }}</div>
  </div>
  <div class="form-group">
    <label for="{{ attribute_form.value.id_for_label }}"><em>New {{ attribute_form.value.label }}</em></label>
    <textarea rows="2" cols="40"
	      id="{{ attribute_form.value.id_for_label }}"
	      class="form-control"
	      name="{{ attribute_form.value.html_name }}"
    >{{ attribute_form.value.value|default_if_none:'' }}</textarea>
    <div class="form-error text-danger" >{{ attribute_form.value.errors }}</div>

  </div>

  <span>
    <input type="checkbox" name="{{ attribute_form.secret.html_name }}"
	   id="{{ attribute_form.secret.id_for_label }}"
	   {% if attribute_form.secret.value %}checked="on"{% endif %} >
    <label for="{{ attribute_form.secret.id_for_label }}">Mark as secret</label>
  </span>
  {{ attribute_form.secret.errors }}
</div>
