<div>
  <textarea rows="1" cols="40"
	    id="{{ attribute_form.value.id_for_label }}"
	    {% if attribute_form.instance and not attribute_form.instance.is_editable %}disabled="true"{% endif %}
	    name="{{ attribute_form.value.html_name }}">{{ attribute_form.value.value|default_if_none:'' }}</textarea>
</div>
<div class="form-error text-danger" >{{ attribute_form.value.errors }}</div>
<script type="text/javascript">
(function() {
   let textareaSelector = '#{{ attribute_form.value.id_for_label }}';
   autosize($(textareaSelector));

   // In case this is in a modal, need to wait for autosize to work.
   $('.modal').on('shown.bs.modal', function () {
     autosize.update($(textareaSelector));
   });
 })();

</script>
