<input type="hidden" id="{{ attribute_form.name.id_for_label }}"
       name="{{ attribute_form.name.html_name }}"
       value="{{ attribute_form.instance.name }}" />

<div class="input-group">
  <div class="input-group-prepend">
    <a href="{{ attribute_form.instance.file_value.url }}"
       class="btn btn-sm btn-primary"
       {% if attribute_form.instance.file_mime_type %}type="{{ attribute_form.instance.file_mime_type }}"{% endif %}
       target="_blank">
      VIEW
    </a>
  </div>
  {% include "attribute/panes/attribute_form_field_value.html" %}
  {% if attribute_form.show_as_editable and attribute_form.instance.is_editable and attribute_form.instance.attribute_type.can_delete %}
  <div class="input-group-append">
    <span class="pl-3" >{{ attribute_form.DELETE }} Delete</span>
  </div>
  {% endif %}
</div>
