<div class="input-group" >
  <div class="input-group-prepend" >
    <span class="input-group-text" >{{ attribute_form.instance.name }}</span>
  </div>
  {{ attribute_form.value }}
</div>
<div class="form-error text-danger" >{{ attribute_form.value.errors }}</div>

<div>
  {{ attribute_form.value_type_str.label }}
  {{ attribute_form.value_type_str }}
  {{ attribute_form.value_type_str.errors }}
</div>
{% if attribute_form.show_as_editable and instance.is_editable %}
<div class="">
  {{ attribute_form.DELETE }} Delete
</div>
{% endif %}
