{% load common_template_helpers %}
<input type="hidden" id="{{ attribute_form.name.id_for_label }}"
       name="{{ attribute_form.name.html_name }}"
       value="{{ attribute_form.instance.name }}" />
<div class="input-group" >
  <div class="input-group-prepend" >
    <span class="input-group-text" >{{ attribute_form.instance.name }}</span>
  </div>
  {% with attribute_form.instance.choices as choices_list %}
  <select 
      id="{{ attribute_form.value.id_for_label }}"
      {% if attribute_form.instance and not attribute_form.instance.is_editable %}disabled="true"{% endif %}
      name="{{ attribute_form.value.html_name }}"
      data-original-value="{{ attribute_form.value.value|default_if_none:'' }}" >
    {% for value, label in choices_list %}
    <option value="{{ value }}" {% if attribute_form.value.value == value %}selected="true"{% endif %}>
      {{ label }}
    </option>
    {% endfor %}
  </select>
  {% endwith %}
  <div class="input-group-append">
    <a href="{% url 'attribute_history' attribute_form.instance.pk %}" 
       class="btn btn-outline-secondary btn-sm attribute-history-btn" 
       data-async="modal"
       title="View attribute history">
      <i class="fas fa-history"></i>
    </a>
  </div>
</div>

{% if attribute_form.show_as_editable and attribute_form.instance.is_editable and attribute_form.instance.attribute_type.can_delete %}
<div class="">
  {{ attribute_form.DELETE }} Delete
</div>
{% endif %}
