<div class="hi-attribute-list ">
  {{ attribute_formset.management_form }}
  
  {% for attribute_form in attribute_formset %}
  <div class="{{ DIVID.ATTRIBUTE_CONTAINER_CLASS }}">
    {{ attribute_form.id }}
  
    {% if attribute_form.non_field_errors %}
    <div class="non-field-errors">
      {% for err in attribute_form.non_field_errors %}
      <p class="form-error">{{ err }}</p>
      {% endfor %}
    </div>
    {% endif %}

    {% if attribute_form.instance.pk %}
    
    {% if attribute_form.instance.value_type.is_file %}
    {% include "attribute/panes/attribute_form_file.html" %}
    {% elif attribute_form.instance.value_type.is_enum %}
    {% include "attribute/panes/attribute_form_enum.html" %}
    {% elif attribute_form.instance.value_type.is_boolean %}
    {% include "attribute/panes/attribute_form_boolean.html" %}
    {% else %}
    {% include "attribute/panes/attribute_form_text.html" %}
    {% endif %}
    
    {% else %}
    {% include "attribute/panes/attribute_form_new.html" %}
    {% endif %}

    {{ attribute_form.name.error }}
    {{ attribute_form.value.error }}
  </div>
  {% endfor %}
</div>
