<input type="hidden" id="{{ attribute_form.name.id_for_label }}"
       name="{{ attribute_form.name.html_name }}"
       value="{{ attribute_form.instance.name }}" />
<div class="input-group" >
  <div class="input-group-prepend" >
    <span class="input-group-text" >{{ attribute_form.instance.name }}</span>
  </div>
  <select name="{{ attribute_form.value.html_name }}" id="{{ attribute_form.value.id_for_label }}">
    {% for tzname in TIMEZONE_NAME_LIST %}
    <option value="{{ tzname }}" {% if attribute_form.value.value == tzname %}selected="true"{% endif %}>
      {{ tzname }}
    </option>
    {% endfor %}
  </select>
</div>

{% if attribute_form.show_as_editable and attribute_form.instance.is_editable and attribute_form.instance.attribute_type.can_delete %}
<div class="">
  {{ attribute_form.DELETE }} Delete
</div>
{% endif %}
