{% load common_template_helpers %}
{% load icons %}
<input type="hidden" id="{{ attribute_form.name.id_for_label }}"
       name="{{ attribute_form.name.html_name }}"
       value="{{ attribute_form.instance.name }}" />
<input type="hidden" name="{{ attribute_form.value.html_name }}" value="false" />
<div class="input-group align-items-center" >
  <input type="checkbox" name="{{ attribute_form.value.html_name }}"
         id="{{ attribute_form.value.id_for_label }}"
         {% if attribute_form.value.value %}checked="on"{% endif %}
         data-original-value="{% if attribute_form.value.value %}true{% else %}false{% endif %}" >
  <label for="{{ attribute_form.value.id_for_label }}" class="pl-2 mb-0">{{ attribute_form.name.value }}</label>
  <div class="input-group-append ml-auto">
    {% if history_url_name %}
    <a href="{% url history_url_name attribute_form.instance.pk %}" 
       class="btn btn-outline-secondary btn-sm attribute-history-btn" 
       data-async="modal"
       title="View attribute history">
      {% icon "history" size="sm" aria_label="View history" %}
    </a>
    {% endif %}
  </div>
</div>

{% if attribute_form.show_as_editable and attribute_form.instance.is_editable and attribute_form.instance.attribute_type.can_delete %}
<div class="">
  {{ attribute_form.DELETE }} Delete
</div>
{% endif %}
