{% load common_template_helpers %}
<input type="hidden" id="{{ attribute_form.name.id_for_label }}"
       name="{{ attribute_form.name.html_name }}"
       value="{{ attribute_form.instance.name }}" />
<div class="input-group" >
  <input type="checkbox" name="{{ attribute_form.value.html_name }}"
	 id="{{ attribute_form.value.id_for_label }}"
	 {% if attribute_form.value.value %}checked="on"{% endif %} >
  <label for="{{ attribute_form.value.id_for_label }}">{{ attribute_form.name.value }}</label>
</div>

{% if attribute_form.show_as_editable and attribute_form.instance.is_editable and attribute_form.instance.attribute_type.can_delete %}
<div class="">
  {{ attribute_form.DELETE }} Delete
</div>
{% endif %}
