{% load common_template_helpers %}
{% load icons %}
{% generate_uuid as unique_id %}
<div class="my-2">
  <a class="" data-toggle="collapse" href="#hi-attribute-new-{{ unique_id }}"
     role="button" aria-expanded="false" aria-controls="hi-attribute-new-{{ unique_id }}">
    {% icon "plus" size="sm" css_class="hi-icon-left" %} Add New Attribute
  </a>
</div>
<div class="collapse my-2" id="hi-attribute-new-{{ unique_id }}">

  {% for hidden in attribute_form.hidden_fields %}
  {{ hidden }}
  {% endfor %}
  
  {% if attribute_form.non_field_errors %}
  <div class="non-field-errors">
    {% for err in attribute_form.non_field_errors %}
    <p class="form-error text-danger">ERROR: {{ err }}</p>
    {% endfor %}
  </div>
  {% endif %}

  <div class="form-group" >
    <label for="{{ attribute_form.name.id_for_label }}"><em>New {{ attribute_form.name.label }}</em></label>
    <input type="text"
           id="{{ attribute_form.name.id_for_label }}"
	   class="form-control"
           name="{{ attribute_form.name.html_name }}"
           value="{{ attribute_form.name.value|default_if_none:'' }}">
    <div class="form-error text-danger" >{{ attribute_form.name.errors }}</div>
  </div>
  <div class="form-group">
    <label for="{{ attribute_form.value.id_for_label }}"><em>New {{ attribute_form.value.label }}</em></label>
    <textarea rows="2" cols="40"
	      id="{{ attribute_form.value.id_for_label }}"
	      class="form-control"
	      name="{{ attribute_form.value.html_name }}"
    >{{ attribute_form.value.value|default_if_none:'' }}</textarea>
    <div class="form-error text-danger" >{{ attribute_form.value.errors }}</div>

  </div>

<script type="text/javascript">
(function() {
   let textareaSelector = '#{{ attribute_form.value.id_for_label }}';
   autosize($(textareaSelector));

   // In case this is in a modal, need to wait for autosize to work.
   $('.modal').on('shown.bs.modal', function () {
     autosize.update($(textareaSelector));
   });
 })();

</script>

  <span>
    <input type="checkbox" name="{{ attribute_form.secret.html_name }}"
	   id="{{ attribute_form.secret.id_for_label }}"
	   {% if attribute_form.secret.value %}checked="on"{% endif %} >
    <label for="{{ attribute_form.secret.id_for_label }}">Mark as secret</label>
  </span>
  {{ attribute_form.secret.errors }}
</div>
